<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Command Bar -->
	<div th:fragment="commandBar" id="commandBar" role="group" class="btn-group commandbar-floating">
		
		<!-- Add Split button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-success toolbar-button" id="newProduct" th:title="#{prod.add.tooltip}">
				<i class="fa fa-lg fa-plus"/>
			</button>
			<button type="button" class="btn btn-success dropdown-toggle toolbar-caret-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"/> 
				<span class="sr-only"/>
			</button>
			<ul class="dropdown-menu">
				<li><a id="addCategory" th:text="#{control.category}" >Rubro</a></li>
				<li><a id="addClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="addType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="addBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>

		<!-- Edit Single button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-warning toolbar-button dropdown-toggle" id="edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-lg fa-edit"/>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" >
				<li><a id="editCategory" th:text="#{control.category}">Rubro</a></li>
				<li><a id="editClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="editType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="editBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>

		<!-- Delete Single button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-danger toolbar-button dropdown-toggle" id="delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-lg fa-remove"/>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a id="deleteCategory" th:text="#{control.category}">Rubro</a></li>
				<li><a id="deleteClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="deleteType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="deleteBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>
	</div>
	
    <!-- Modal de edicion maestros de articulo -->
	<div th:fragment="catalogEditor">
		<div class="modal fade" id="classModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" />
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="clmpTitle"/>
	                    </div>
	                </div>
					<form id="clmpForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" />
								<div class="col-md-10" >
									<div class="form-group">
										<label id="clmpClassLabel" for="clmpClass" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="clmpClass" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="clase : ${clases}" th:text="${clase.nombre}" th:value="${clase.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label for="clmpName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="clmpName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="clmpDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="clmpDesc" class="form-control" type="text" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="clmpCat" class="control-label" th:text="#{control.category}" />
	                                    <select id="clmpCat" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
								</div>
								<div class="col-md-1" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="clmpSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="categoryModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" />
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="catmpTitle"/>
	                    </div>
	                </div>
					<form id="catmpForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" />
								<div class="col-md-10" >
									<div class="form-group">
										<label id="catmpCategoryLabel" for="catmpCategory" class="control-label" th:text="#{control.category}" />
	                                    <select id="catmpCategory" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label for="catmpName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="catmpName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="catmpDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="catmpDesc" class="form-control" type="text" maxlength="100" />
									</div>
								</div>
								<div class="col-md-1" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="catmpSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="catalogScript" >
		<script th:inline="javascript">
			 /*<![CDATA[*/
			$(document).ready(function() {
				initClassForm();
				initCategoryForm();
				initTypeForm();
				initBrandForm();
			})
			
			function initBrandForm() {
				$('#addBrand').click(function(){
					
				});
				$('#deleteBrand').click(function(){
					
				});
				$('#editBrand').click(function(){
					
				});
			}
			 
			function initTypeForm() {
				$('#addType').click(function(){
					
				});
				$('#deleteType').click(function(){
					
				});
				$('#editType').click(function(){
					
				});
			}
			 
			function initCategoryForm() {
				$('#addCategory').click(function() {
					$('#catmpForm').attr('action', 'create')
					cleanCategoryForm();
					setCategoryFormForCreate();
					$('#categoryModalPopup').modal('show');
				});
				$('#deleteCategory').click(function(){
					$('#catmpForm').attr('action', 'delete')
					cleanCategoryForm();
					setCategoryFormForDelete();
					$('#categoryModalPopup').modal('show');
				});
				$('#editCategory').click(function(){
					$('#catmpForm').attr('action', 'edit')
					cleanCategoryForm();
					setCategoryFormForUpdate();
					$('#categoryModalPopup').modal('show');
				});
				$('#catmpCategory').change(function(e) {
					if ($('#catmpCategory')[0].selectedIndex > 0) {
						loadEntityData($(this).val(), '/proeza-sgs/rest/product/categoryByCode', setCategoryData);	
					} else {
						cleanCategoryForm();
					}
				});
				$('#catmpForm').submit(function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var actionUrl, actionSuccessMsg, doAction = true;
					switch (action) {
					case 'create':
						actionUrl =	'/proeza-sgs/rest/product/addCategory';
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'edit':
						actionUrl =	'/proeza-sgs/rest/product/updateCategory'; 
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'delete':
						swal({
								title: [[#{control.confirmDelete.title}]],
								text: [[#{prod.category.confirmDelete.message}]] + ' ' + $('#catmpCategory option:selected').text(),
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#DD6B55',
								confirmButtonText: [[#{control.confirmDelete}]],
								cancelButtonText: [[#{control.cancelDelete}]]
							}, 
							function (isConfirm) {
								if (isConfirm) {
									saveEntityData(
										getCategoryFormData(), 
										'/proeza-sgs/rest/product/deleteCategory', 
										[[#{rest.datasend.success}]],
										function() {initCombo('#catmpCategory', '/proeza-sgs/rest/product/getCategories')}
									);
									cleanCategoryForm();
								} 
								$('#categoryModalPopup').modal('show');
							}
						);
					default:
						doAction = false;
						break;
					}
					if (doAction) {
						saveEntityData(
							getCategoryFormData(), 
							actionUrl, 
							actionSuccessMsg,
							function() {initCombo('#catmpCategory', '/proeza-sgs/rest/product/getCategories')}
						);
					}
					$('#categoryModalPopup').modal('hide');
				});
			}
			
			function setCategoryFormForCreate () {
				disableCategoryInput(false);
				$('#catmpCategoryLabel').hide();
				$('#catmpCategory').hide();
				$('#catmpCategory').prop('disabled', true);
				$('#catmpTitle').text([[#{prod.category.addPopupTitle}]]);
				$('#catmpSave').text([[#{control.save}]]);	
			}

			function setCategoryFormForDelete () {
				disableCategoryInput(true);
				$('#catmpCategoryLabel').show();
				$('#catmpCategory').show();
				$('#catmpCategory').prop('disabled', false);
				$('#catmpTitle').text([[#{prod.category.deletePopupTitle}]]);
				$('#catmpSave').text([[#{control.remove}]]);
			}

			function setCategoryFormForUpdate () {
				disableCategoryInput(false);
				$('#catmpCategoryLabel').show();
				$('#catmpCategory').show();
				$('#catmpCategory').prop('disabled', false);
				$('#catmpTitle').text([[#{prod.category.editPopupTitle}]]);
				$('#catmpSave').text([[#{control.save}]]);	
			}
			
			function cleanCategoryForm () {
				$('#catmpName').val('');
				$('#catmpDesc').val('');
				$('#catmpCategory').val('');	
			}
			
			function disableCategoryInput (value) {
				$('#catmpName').prop('disabled', value);
				$('#catmpDesc').prop('disabled', value);
			}
			
			function getCategoryFormData () {
				var data = {
					codigo : $('#catmpCategory').val(),
					nombre : $('#catmpName').val(),
					descripcion : $('#catmpDesc').val()
				};
				return data;
			}
			
			function setCategoryData (data) {
				$('#catmpName').val(data.nombre);
				$('#catmpDesc').val(data.descripcion);
			}
			
			function initClassForm() {
				$('#addClass').click(function() {
					$('#clmpForm').attr('action', 'create')
					cleanClassForm();
					setClassFormForCreate();
					$('#classModalPopup').modal('show');
				});
				$('#deleteClass').click(function(){
					$('#clmpForm').attr('action', 'delete')
					cleanClassForm();
					setClassFormForDelete();
					$('#classModalPopup').modal('show');
				});
				$('#editClass').click(function(){
					$('#clmpForm').attr('action', 'edit')
					cleanClassForm();
					setClassFormForUpdate();
					$('#classModalPopup').modal('show');
				});
				$('#clmpClass').change(function(e) {
					if ($('#clmpClass')[0].selectedIndex > 0) {
						loadEntityData($(this).val(), '/proeza-sgs/rest/product/classByCode', setClassData);	
					} else {
						cleanClassForm();
					}
				});
				$('#clmpForm').submit(function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var actionUrl, actionSuccessMsg, doAction = true;
					switch (action) {
					case 'create':
						actionUrl =	'/proeza-sgs/rest/product/addClass';
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'edit':
						actionUrl =	'/proeza-sgs/rest/product/updateClass'; 
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'delete':
						swal({
								title: [[#{control.confirmDelete.title}]],
								text: [[#{prod.clazz.confirmDelete.message}]] + ' ' + $('#clmpClass option:selected').text(),
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#DD6B55',
								confirmButtonText: [[#{control.confirmDelete}]],
								cancelButtonText: [[#{control.cancelDelete}]]
							}, 
							function (isConfirm) {
								if (isConfirm) {
									saveEntityData(
										getClassFormData(), 
										'/proeza-sgs/rest/product/deleteClass', 
										[[#{rest.datasend.success}]],
										function() {initCombo('#clmpClass', '/proeza-sgs/rest/product/getClasses')}
									);
									cleanClassForm();
								} 
								$('#classModalPopup').modal('show');
							}
						);
					default:
						doAction = false;
						break;
					}
					if (doAction) {
						saveEntityData(
							getClassFormData(), 
							actionUrl, 
							actionSuccessMsg,
							function() {initCombo('#clmpClass', '/proeza-sgs/rest/product/getClasses')}
						);
					}
					$('#classModalPopup').modal('hide');
				});
			}

			function setClassFormForCreate () {
				disableClassInput(false);
				$('#clmpClassLabel').hide();
				$('#clmpClass').hide();
				$('#clmpClass').prop('disabled', true);
				$('#clmpTitle').text([[#{prod.clazz.addPopupTitle}]]);
				$('#clmpSave').text([[#{control.save}]]);	
			}

			function setClassFormForDelete () {
				disableClassInput(true);
				$('#clmpClassLabel').show();
				$('#clmpClass').show();
				$('#clmpClass').prop('disabled', false);
				$('#clmpTitle').text([[#{prod.clazz.deletePopupTitle}]]);
				$('#clmpSave').text([[#{control.remove}]]);
			}

			function setClassFormForUpdate () {
				disableClassInput(false);
				$('#clmpClassLabel').show();
				$('#clmpClass').show();
				$('#clmpClass').prop('disabled', false);
				$('#clmpTitle').text([[#{prod.clazz.editPopupTitle}]]);
				$('#clmpSave').text([[#{control.save}]]);	
			}
			
			function cleanClassForm () {
				$('#clmpName').val('');
				$('#clmpDesc').val('');
				$('#clmpCat').val('');
				$('#clmpClass').val('');	
			}
			
			function disableClassInput (value) {
				$('#clmpName').prop('disabled', value);
				$('#clmpDesc').prop('disabled', value);
				$('#clmpCat').prop('disabled', value);
			}
			
			function getClassFormData () {
				var data = {
					codigo : $('#clmpClass').val(),
					nombre : $('#clmpName').val(),
					descripcion : $('#clmpDesc').val(),
					codRubro :$('#clmpCat').val()
				};
				return data;
			}
			
			function setClassData (data) {
				$('#clmpName').val(data.nombre);
				$('#clmpDesc').val(data.descripcion);
				$('#clmpCat').val(data.codRubro);
			}
			
			function loadEntityData(inputData, restUrl, setData) {
				$.ajax({
					type : 'POST',
					url : restUrl,
					dataType: 'json',
					contentType: 'application/json',
					data : inputData,
					success : function(data) {
						setData(data);
					},
					error : function(jqXHR, status) {
						$.notify({
							message: [[#{rest.dataload.error}]]
						},{
							type: 'danger'
						});
					}
				});
			}	

			function saveEntityData(data, restUrl, successMsg, callback) {
				$.ajax({
					type : 'POST',
					url : restUrl,
					dataType: 'json',
					contentType: 'application/json',
					data : JSON.stringify(data),
					success : function() {
						$.notify({
							message: successMsg
						},{
							type: 'success'
						});
						if (callback) {
							callback();
						}
					},
					error : function(jqXHR, status) {
						$.notify({
							message: [[#{rest.datasend.error}]]
						},{
							type: 'danger'
						});
					}
				});
			}
			/*]]>*/
		</script>
	</div>
</body>
</html>