<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Command Bar -->
	<div th:fragment="commandBar" id="commandBar" role="group" class="btn-group commandbar-floating">
		<!-- Add Split button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-success toolbar-button" id="newProduct" th:title="#{prod.add.tooltip}">
				<i class="fa fa-lg fa-plus"></i>
			</button>
			<button type="button" class="btn btn-success dropdown-toggle toolbar-caret-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"/> 
				<span class="sr-only"/>
			</button>
			<ul class="dropdown-menu">
				<li><a id="addCategory" th:text="#{control.category}" >Rubro</a></li>
				<li><a id="addClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="addType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="addBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>

		<!-- Edit Single button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-warning toolbar-button dropdown-toggle" id="edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-lg fa-edit"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" >
				<li><a id="editCategory" th:text="#{control.category}">Rubro</a></li>
				<li><a id="editClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="editType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="editBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>

		<!-- Delete Single button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-danger toolbar-button dropdown-toggle" id="delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-lg fa-remove"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a id="deleteCategory" th:text="#{control.category}">Rubro</a></li>
				<li><a id="deleteClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="deleteType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="deleteBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>
	</div>
	
    <!-- Modal de edicion maestros de articulo -->
	<div th:fragment="catalogEditor">
		<div class="modal fade" id="brandModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line"></div>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="modal-title">
							<span id="mpBraTitle"/>
						</div>
					</div>
					<form id="mpBraForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" ></div>
								<div class="col-md-10" >
									<div class="form-group">
										<label id="mpBraBrandFilterLabel" for="mpBraBrandFilter" class="control-label" th:text="#{control.brand}" />
										<select id="mpBraBrandFilter" class="form-control input-md" required="required" autofocus="autofocus" >
											<option value="" th:text="#{control.choose}"/>
											<option th:each="marca : ${marcas}" th:text="${marca.nombre}" th:value="${marca.codigo}" />
										</select>
									</div>
									<hr id="mpBraInputDivider" />
									<div class="form-group">
										<label for="mpBraName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="mpBraName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="mpBraDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="mpBraDesc" class="form-control" type="text" maxlength="100" />
									</div>
								</div>
								<div class="col-md-1" ></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="mpBraSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="categoryModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" ></div>
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="mpCatTitle"/>
	                    </div>
	                </div>
					<form id="mpCatForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" ></div>
								<div class="col-md-10" >
									<div class="form-group">
										<label id="mpCatCategoryFilterLabel" for="mpCatCategoryFilter" class="control-label" th:text="#{control.category}" />
	                                    <select id="mpCatCategoryFilter" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<hr id="mpCatInputDivider" />
									<div class="form-group">
										<label for="mpCatName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="mpCatName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="mpCatDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="mpCatDesc" class="form-control" type="text" maxlength="100" />
									</div>
								</div>
								<div class="col-md-1" ></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="mpCatSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="classModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" ></div>
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="mpClaTitle"/>
	                    </div>
	                </div>
					<form id="mpClaForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" ></div>
								<div class="col-md-10" >
									<div class="form-group">
										<label id="mpClaCatFilterLabel" for="mpClaCatFilter" class="control-label" th:text="#{control.category}" />
	                                    <select id="mpClaCatFilter" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label id="mpClaClassFilterLabel" for="mpClaClassFilter" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="mpClaClassFilter" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
									<hr id="mpClaInputDivider" />
									<div class="form-group">
										<label for="mpClaName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="mpClaName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="mpClaDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="mpClaDesc" class="form-control" type="text" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="mpClaCatInput" class="control-label" th:text="#{control.category}" />
	                                    <select id="mpClaCatInput" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
								</div>
								<div class="col-md-1" ></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="mpClaSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="typeModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" ></div>
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="mpTypTitle"/>
	                    </div>
	                </div>
					<form id="mpTypForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" ></div>
								<div class="col-md-10" >
									<div class="form-group">
										<label id="mpTypCatFilterLabel" for="mpTypCatFilter" class="control-label" th:text="#{control.category}" />
	                                    <select id="mpTypCatFilter" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label id="mpTypClassFilterLabel" for="mpTypClassFilter" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="mpTypClassFilter" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
									<div class="form-group">
										<label id="mpTypTypeFilterLabel" for="mpTypTypeFilter" class="control-label" th:text="#{control.type}" />
	                                    <select id="mpTypTypeFilter" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
									<hr id="mpTypInputDivider" />
									<div class="form-group">
										<label for="mpTypName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="mpTypName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="mpTypDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="mpTypDesc" class="form-control" type="text" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="mpTypCatInput" class="control-label" th:text="#{control.category}" />
	                                    <select id="mpTypCatInput" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label for="mpTypClassInput" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="mpTypClassInput" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
								</div>
								<div class="col-md-1" ></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="mpTypSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>