<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Command Bar -->
	<div th:fragment="commandBar" id="commandBar" role="group" class="btn-group commandbar-floating">
		
		<!-- Add Split button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-success toolbar-button" id="newProduct" th:title="#{prod.add.tooltip}">
				<i class="fa fa-lg fa-plus"/>
			</button>
			<button type="button" class="btn btn-success dropdown-toggle toolbar-caret-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"/> 
				<span class="sr-only"/>
			</button>
			<ul class="dropdown-menu">
				<li><a id="addCategory" th:text="#{control.category}" >Rubro</a></li>
				<li><a id="addClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="addType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="addBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>

		<!-- Edit Single button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-warning toolbar-button dropdown-toggle" id="edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-lg fa-edit"/>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" >
				<li><a id="editCategory" th:text="#{control.category}">Rubro</a></li>
				<li><a id="editClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="editType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="editBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>

		<!-- Delete Single button -->
		<div class="btn-group dropup">
			<button type="button" class="btn btn-danger toolbar-button dropdown-toggle" id="delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-lg fa-remove"/>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a id="deleteCategory" th:text="#{control.category}">Rubro</a></li>
				<li><a id="deleteClass" th:text="#{control.clazz}">Clase</a></li>
				<li><a id="deleteType" th:text="#{control.type}">Tipo</a></li>
				<li role="separator" class="divider"></li>
				<li><a id="deleteBrand" th:text="#{control.brand}">Marca</a></li>
			</ul>
		</div>
	</div>
	
    <!-- Modal de edicion maestros de articulo -->
	<div th:fragment="catalogEditor">
		<div class="modal fade" id="brandModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" />
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="modal-title">
							<span id="branmpTitle"/>
						</div>
					</div>
					<form id="branmpForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" />
								<div class="col-md-10" >
									<div class="form-group">
										<label id="branmpBranSelectLabel" for="branmpBranSelect" class="control-label" th:text="#{control.brand}" />
										<select id="branmpBranSelect" class="form-control input-md" required="required" autofocus="autofocus" >
											<option value="" th:text="#{control.choose}"/>
											<option th:each="marca : ${marcas}" th:text="${marca.nombre}" th:value="${marca.codigo}" />
										</select>
									</div>
									<hr id="branmpInputDivider" />
									<div class="form-group">
										<label for="branmpName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="branmpName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="branmpDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="branmpDesc" class="form-control" type="text" maxlength="100" />
									</div>
								</div>
								<div class="col-md-1" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="branmpSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="categoryModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" />
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="catmpTitle"/>
	                    </div>
	                </div>
					<form id="catmpForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" />
								<div class="col-md-10" >
									<div class="form-group">
										<label id="catmpCatSelectLabel" for="catmpCatSelect" class="control-label" th:text="#{control.category}" />
	                                    <select id="catmpCatSelect" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<hr id="catmpInputDivider" />
									<div class="form-group">
										<label for="catmpName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="catmpName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="catmpDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="catmpDesc" class="form-control" type="text" maxlength="100" />
									</div>
								</div>
								<div class="col-md-1" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="catmpSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="classModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" />
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="clmpTitle"/>
	                    </div>
	                </div>
					<form id="clmpForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" />
								<div class="col-md-10" >
									<div class="form-group">
										<label id="clmpCatSelectLabel" for="clmpCatSelect" class="control-label" th:text="#{control.category}" />
	                                    <select id="clmpCatSelect" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label id="clmpClassSelectLabel" for="clmpClassSelect" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="clmpClassSelect" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
									<hr id="clmpInputDivider" />
									<div class="form-group">
										<label for="clmpName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="clmpName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="clmpDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="clmpDesc" class="form-control" type="text" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="clmpCatInput" class="control-label" th:text="#{control.category}" />
	                                    <select id="clmpCatInput" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
								</div>
								<div class="col-md-1" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="clmpSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="typeModalPopup" tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog">
				<div class="color-line" />
				<div class="modal-content">
					<div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <div class="modal-title">
	                        <span id="tympTitle"/>
	                    </div>
	                </div>
					<form id="tympForm" class="form-horizontal" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-1" />
								<div class="col-md-10" >
									<div class="form-group">
										<label id="tympCatSelectLabel" for="tympCatSelect" class="control-label" th:text="#{control.category}" />
	                                    <select id="tympCatSelect" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label id="tympClassSelectLabel" for="tympClassSelect" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="tympClassSelect" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
									<div class="form-group">
										<label id="tympTypeSelectLabel" for="tympTypeSelect" class="control-label" th:text="#{control.type}" />
	                                    <select id="tympTypeSelect" class="form-control input-md" required="required" autofocus="autofocus" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
									<hr id="tympInputDivider" />
									<div class="form-group">
										<label for="tympName" class="control-label" th:text="#{control.name}" >Nombre</label>
										<input id="tympName" class="form-control" type="text" required="required" maxlength="50"/>
									</div>
									<div class="form-group">
										<label for="tympDesc" class="control-label" th:text="#{control.description}">Descripción</label>
										<input id="tympDesc" class="form-control" type="text" maxlength="100" />
									</div>
									<div class="form-group">
										<label for="tympCatInput" class="control-label" th:text="#{control.category}" />
	                                    <select id="tympCatInput" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                        <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:value="${rubro.codigo}" />
	                                    </select>
									</div>
									<div class="form-group">
										<label for="tympClassInput" class="control-label" th:text="#{control.clazz}" />
	                                    <select id="tympClassInput" class="form-control input-md" required="required" >
	                                        <option value="" th:text="#{control.choose}"/>
	                                    </select>
									</div>
								</div>
								<div class="col-md-1" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{control.close}" />
							<button id="tympSave" type="submit" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="catalogScript" >
		<script th:inline="javascript">
			 /*<![CDATA[*/
			$(document).ready(function() {
				initClassForm();
				initCategoryForm();
				initTypeForm();
				initBrandForm();
			})
			
			// Administracion de marca
			
			function initBrandForm() {
				$('#addBrand').click(function() {
					$('#branmpForm').attr('action', 'create')
					cleanBrandForm();
					setBrandFormForCreate();
					$('#brandModalPopup').modal('show');
				});
				$('#deleteBrand').click(function(){
					$('#branmpForm').attr('action', 'delete')
					cleanBrandForm();
					setBrandFormForDelete();
					$('#brandModalPopup').modal('show');
				});
				$('#editBrand').click(function(){
					$('#branmpForm').attr('action', 'edit')
					cleanBrandForm();
					setBrandFormForUpdate();
					$('#brandModalPopup').modal('show');
				});
				$('#branmpBranSelect').change(function(e) {
					if ($('#branmpBranSelect')[0].selectedIndex > 0) {
						loadEntityData($(this).val(), product.rest.brandByCode, setBrandData);	
					} else {
						cleanBrandForm();
					}
				});
				$('#branmpForm').submit(function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var actionUrl, actionSuccessMsg, doAction = true;
					switch (action) {
					case 'create':
						actionUrl =	product.rest.addBrand;
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'edit':
						actionUrl =	product.rest.updateBrand; 
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'delete':
						swal({
								title: [[#{control.confirmDelete.title}]],
								text: [[#{prod.brand.confirmDelete.message}]] + ' ' + $('#branmpBranSelect option:selected').text(),
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#DD6B55',
								confirmButtonText: [[#{control.confirmDelete}]],
								cancelButtonText: [[#{control.cancelDelete}]]
							}, 
							function (isConfirm) {
								if (isConfirm) {
									saveEntityData(
										getBrandFormData(), 
										product.rest.deleteBrand, 
										[[#{rest.datasend.success}]],
										updateBrandCombos
									);
									cleanBrandForm();
								}
								$('#brandModalPopup').modal('show');
							}
						);
					default:
						doAction = false;
						break;
					}
					if (doAction) {
						saveEntityData(
							getBrandFormData(), 
							actionUrl, 
							actionSuccessMsg,
							updateBrandCombos
						);
					}
					$('#brandModalPopup').modal('hide');
				});
			}
			 
			function updateBrandCombos () {
				initCombo('#branmpBranSelect', product.rest.getBrands);
			}
			
			function setBrandFormForCreate () {
				disableBrandInput(false);
				$('#branmpBranSelectLabel').hide();
				$('#branmpBranSelect').hide();
				$('#branmpBranSelect').prop('disabled', true);
				$('#branmpInputDivider').hide();
				$('#branmpTitle').text([[#{prod.brand.addPopupTitle}]]);
				$('#branmpSave').text([[#{control.save}]]);	
			}

			function setBrandFormForDelete () {
				disableBrandInput(true);
				$('#branmpBranSelectLabel').show();
				$('#branmpBranSelect').show();
				$('#branmpBranSelect').prop('disabled', false);
				$('#branmpInputDivider').show();
				$('#branmpTitle').text([[#{prod.brand.deletePopupTitle}]]);
				$('#branmpSave').text([[#{control.remove}]]);
			}

			function setBrandFormForUpdate () {
				disableBrandInput(false);
				$('#branmpBranSelectLabel').show();
				$('#branmpBranSelect').show();
				$('#branmpBranSelect').prop('disabled', false);
				$('#branmpInputDivider').show();
				$('#branmpTitle').text([[#{prod.brand.editPopupTitle}]]);
				$('#branmpSave').text([[#{control.save}]]);	
			}
			
			function cleanBrandForm () {
				$('#branmpName').val('');
				$('#branmpDesc').val('');
				$('#branmpBranSelect').val('');	
			}
			
			function disableBrandInput (value) {
				$('#branmpName').prop('disabled', value);
				$('#branmpDesc').prop('disabled', value);
			}
			
			function getBrandFormData () {
				var data = {
					codigo : $('#branmpBranSelect').val(),
					nombre : $('#branmpName').val(),
					descripcion : $('#branmpDesc').val()
				};
				return data;
			}
			
			function setBrandData (data) {
				$('#branmpName').val(data.nombre);
				$('#branmpDesc').val(data.descripcion);
			}
			 
			// Administracion de categoria 
			
			function initCategoryForm() {
				$('#addCategory').click(function() {
					$('#catmpForm').attr('action', 'create')
					cleanCategoryForm();
					setCategoryFormForCreate();
					$('#categoryModalPopup').modal('show');
				});
				$('#deleteCategory').click(function(){
					$('#catmpForm').attr('action', 'delete')
					cleanCategoryForm();
					setCategoryFormForDelete();
					$('#categoryModalPopup').modal('show');
				});
				$('#editCategory').click(function(){
					$('#catmpForm').attr('action', 'edit')
					cleanCategoryForm();
					setCategoryFormForUpdate();
					$('#categoryModalPopup').modal('show');
				});
				$('#catmpCatSelect').change(function(e) {
					if ($('#catmpCatSelect')[0].selectedIndex > 0) {
						loadEntityData($(this).val(), product.rest.categoryByCode, setCategoryData);	
					} else {
						cleanCategoryForm();
					}
				});
				$('#catmpForm').submit(function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var actionUrl, actionSuccessMsg, doAction = true;
					switch (action) {
					case 'create':
						actionUrl =	product.rest.addCategory;
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'edit':
						actionUrl =	product.rest.updateCategory; 
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'delete':
						swal({
								title: [[#{control.confirmDelete.title}]],
								text: [[#{prod.category.confirmDelete.message}]] + ' ' + $('#catmpCatSelect option:selected').text(),
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#DD6B55',
								confirmButtonText: [[#{control.confirmDelete}]],
								cancelButtonText: [[#{control.cancelDelete}]]
							}, 
							function (isConfirm) {
								if (isConfirm) {
									saveEntityData(
										getCategoryFormData(), 
										product.rest.deleteCategory, 
										[[#{rest.datasend.success}]],
										updateCategoryCombos
									);
									cleanCategoryForm();
								}
								$('#categoryModalPopup').modal('show');
							}
						);
					default:
						doAction = false;
						break;
					}
					if (doAction) {
						saveEntityData(
							getCategoryFormData(), 
							actionUrl, 
							actionSuccessMsg,
							updateCategoryCombos
						);
					}
					$('#categoryModalPopup').modal('hide');
				});
			}
			
			function updateCategoryCombos () {
				initCombo('#catmpCatSelect', product.rest.getCategories);
				initCombo('#clmpCatSelect', product.rest.getCategories);
				initCombo('#clmpCatInput', product.rest.getCategories);
				initCombo('#tympCatSelect', product.rest.getCategories);
				initCombo('#tympCatInput', product.rest.getCategories);
				cleanCategoryForm();
			}
			
			function setCategoryFormForCreate () {
				disableCategoryInput(false);
				$('#catmpCatSelectLabel').hide();
				$('#catmpCatSelect').hide();
				$('#catmpInputDivider').hide();
				$('#catmpCatSelect').prop('disabled', true);
				$('#catmpTitle').text([[#{prod.category.addPopupTitle}]]);
				$('#catmpSave').text([[#{control.save}]]);	
			}

			function setCategoryFormForDelete () {
				disableCategoryInput(true);
				$('#catmpCatSelectLabel').show();
				$('#catmpCatSelect').show();
				$('#catmpCatSelect').prop('disabled', false);
				$('#catmpInputDivider').show();
				$('#catmpTitle').text([[#{prod.category.deletePopupTitle}]]);
				$('#catmpSave').text([[#{control.remove}]]);
			}

			function setCategoryFormForUpdate () {
				disableCategoryInput(false);
				$('#catmpCatSelectLabel').show();
				$('#catmpCatSelect').show();
				$('#catmpCatSelect').prop('disabled', false);
				$('#catmpInputDivider').show();
				$('#catmpTitle').text([[#{prod.category.editPopupTitle}]]);
				$('#catmpSave').text([[#{control.save}]]);	
			}
			
			function cleanCategoryForm () {
				$('#catmpName').val('');
				$('#catmpDesc').val('');
				$('#catmpCatSelect').val('');	
			}
			
			function disableCategoryInput (value) {
				$('#catmpName').prop('disabled', value);
				$('#catmpDesc').prop('disabled', value);
			}
			
			function getCategoryFormData () {
				var data = {
					codigo : $('#catmpCatSelect').val(),
					nombre : $('#catmpName').val(),
					descripcion : $('#catmpDesc').val()
				};
				return data;
			}
			
			function setCategoryData (data) {
				$('#catmpName').val(data.nombre);
				$('#catmpDesc').val(data.descripcion);
			}
			
			// Administracion de clase
			
			function initClassForm() {
				$('#addClass').click(function() {
					$('#clmpForm').attr('action', 'create')
					cleanClassForm();
					setClassFormForCreate();
					$('#classModalPopup').modal('show');
				});
				$('#deleteClass').click(function(){
					$('#clmpForm').attr('action', 'delete')
					cleanClassForm();
					setClassFormForDelete();
					$('#classModalPopup').modal('show');
				});
				$('#editClass').click(function(){
					$('#clmpForm').attr('action', 'edit')
					cleanClassForm();
					setClassFormForUpdate();
					$('#classModalPopup').modal('show');
				});
				$('#clmpCatSelect').change(function(e) {
					chainCombo('#clmpCatSelect', '#clmpClassSelect', product.rest.classesByCategory);
				});
				$('#clmpClassSelect').change(function(e) {
					if ($('#clmpClassSelect')[0].selectedIndex > 0) {
						loadEntityData($(this).val(), product.rest.classByCode, setClassData);	
					} else {
						cleanClassForm();
					}
				});
				$('#clmpForm').submit(function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var actionUrl, actionSuccessMsg, doAction = true;
					switch (action) {
					case 'create':
						actionUrl =	product.rest.addClass;
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'edit':
						actionUrl =	product.rest.updateClass; 
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'delete':
						swal({
								title: [[#{control.confirmDelete.title}]],
								text: [[#{prod.clazz.confirmDelete.message}]] + ' ' + $('#clmpClassSelect option:selected').text(),
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#DD6B55',
								confirmButtonText: [[#{control.confirmDelete}]],
								cancelButtonText: [[#{control.cancelDelete}]]
							}, 
							function (isConfirm) {
								if (isConfirm) {
									saveEntityData(
										getClassFormData(), 
										product.rest.deleteClass, 
										[[#{rest.datasend.success}]],
										updateClassCombos
									);
									cleanClassForm();
								} 
								$('#classModalPopup').modal('show');
							}
						);
					default:
						doAction = false;
						break;
					}
					if (doAction) {
						saveEntityData(
							getClassFormData(), 
							actionUrl, 
							actionSuccessMsg,
							updateClassCombos
						);
					}
					$('#classModalPopup').modal('hide');
				});
			}

			function updateClassCombos () {
				initCombo('#clmpClassSelect', product.rest.getClasses);
				initCombo('#tympClassSelect', product.rest.getClasses);
				initCombo('#tympClassInput', product.rest.getClasses);
				cleanClassForm();
			}
			
			function setClassFormForCreate () {
				disableClassInput(false);
				$('#clmpClassSelectLabel').hide();
				$('#clmpClassSelect').hide();
				$('#clmpClassSelect').prop('disabled', true); // Se deshabilita para que no se valide en el formulario
				$('#clmpCatSelectLabel').hide();
				$('#clmpCatSelect').hide();
				$('#clmpInputDivider').hide();
				$('#clmpCatSelect').prop('disabled', true); // Se deshabilita para que no se valide en el formulario
				$('#clmpTitle').text([[#{prod.clazz.addPopupTitle}]]);
				$('#clmpSave').text([[#{control.save}]]);	
			}

			function setClassFormForDelete () {
				disableClassInput(true);
				$('#clmpClassSelectLabel').show();
				$('#clmpClassSelect').show();
				$('#clmpClassSelect').prop('disabled', false);
				$('#clmpCatSelectLabel').show();
				$('#clmpCatSelect').show();
				$('#clmpInputDivider').show();
				$('#clmpCatSelect').prop('disabled', false);
				$('#clmpTitle').text([[#{prod.clazz.deletePopupTitle}]]);
				$('#clmpSave').text([[#{control.remove}]]);
			}

			function setClassFormForUpdate () {
				disableClassInput(false);
				$('#clmpClassSelectLabel').show();
				$('#clmpClassSelect').show();
				$('#clmpClassSelect').prop('disabled', false);
				$('#clmpCatSelectLabel').show();
				$('#clmpCatSelect').show();
				$('#clmpCatSelect').prop('disabled', false);
				$('#clmpInputDivider').show();
				$('#clmpTitle').text([[#{prod.clazz.editPopupTitle}]]);
				$('#clmpSave').text([[#{control.save}]]);	
			}
			
			function cleanClassForm () {
				$('#clmpName').val('');
				$('#clmpDesc').val('');
				$('#clmpCatSelect').val('');
				$('#clmpCatInput').val('');
				$('#clmpClassSelect').val('');	
			}
			
			function disableClassInput (value) {
				$('#clmpName').prop('disabled', value);
				$('#clmpDesc').prop('disabled', value);
				$('#clmpCatInput').prop('disabled', value);
			}
			
			function getClassFormData () {
				var data = {
					codigo : $('#clmpClassSelect').val(),
					nombre : $('#clmpName').val(),
					descripcion : $('#clmpDesc').val(),
					codRubro :$('#clmpCatInput').val()
				};
				return data;
			}
			
			function setClassData (data) {
				$('#clmpName').val(data.nombre);
				$('#clmpDesc').val(data.descripcion);
				$('#clmpCatInput').val(data.codRubro);
			}

			// Administracion de tipo
			
			function initTypeForm() {
				$('#addType').click(function() {
					$('#tympForm').attr('action', 'create')
					resetTypeForm();
					setTypeFormForCreate();
					$('#typeModalPopup').modal('show');
				});
				$('#deleteType').click(function(){
					$('#tympForm').attr('action', 'delete')
					resetTypeForm();
					setTypeFormForDelete();
					$('#typeModalPopup').modal('show');
				});
				$('#editType').click(function(){
					$('#tympForm').attr('action', 'edit')
					resetTypeForm();
					setTypeFormForUpdate();
					$('#typeModalPopup').modal('show');
				});
				$('#tympCatInput').change(function(e) {
					chainCombo('#tympCatInput', '#tympClassInput', product.rest.classesByCategory);
				});
				$('#tympCatSelect').change(function(e) {
					chainCombo('#tympCatSelect', '#tympClassSelect', product.rest.classesByCategory);
				});
				$('#tympClassSelect').change(function(e) {
					chainCombo('#tympClassSelect', '#tympTypeSelect', product.rest.typesByClass);
				});
				$('#tympTypeSelect').change(function(e) {
					if ($('#tympTypeSelect')[0].selectedIndex > 0) {
						loadEntityData($(this).val(), product.rest.typeByCode, setTypeData);	
					} else {
						cleanTypeFormInput();
					}
				});
				$('#tympForm').submit(function(e) {
					e.preventDefault();
					var action = $(this).attr('action');
					var actionUrl, actionSuccessMsg, doAction = true;
					switch (action) {
					case 'create':
						actionUrl =	product.rest.addType;
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'edit':
						actionUrl =	product.rest.updateType; 
						actionSuccessMsg = [[#{rest.datasend.success}]];
						break;
					case 'delete':
						swal({
								title: [[#{control.confirmDelete.title}]],
								text: [[#{prod.type.confirmDelete.message}]] + ' ' + $('#tympTypeSelect option:selected').text(),
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#DD6B55',
								confirmButtonText: [[#{control.confirmDelete}]],
								cancelButtonText: [[#{control.cancelDelete}]]
							}, 
							function (isConfirm) {
								if (isConfirm) {
									saveEntityData(
										getTypeFormData(), 
										product.rest.deleteType, 
										[[#{rest.datasend.success}]],
										updateTypeCombos
									);
									resetTypeForm();
								} 
								$('#typeModalPopup').modal('show');
							}
						);
					default:
						doAction = false;
						break;
					}
					if (doAction) {
						saveEntityData(
							getTypeFormData(), 
							actionUrl, 
							actionSuccessMsg,
							updateTypeCombos
						);
					}
					$('#typeModalPopup').modal('hide');
				});
			}

			function updateTypeCombos () {
				initCombo('#tympTypeSelect', product.rest.getTypes);
			}
			
			function setTypeFormForCreate () {
				disableTypeInput(false);
				$('#tympCatSelectLabel').hide();
				$('#tympCatSelect').hide();
				$('#tympCatSelect').prop('disabled', true); // Se deshabilita para que no se valide en el formulario
				$('#tympClassSelectLabel').hide();
				$('#tympClassSelect').hide();
				$('#tympClassSelect').prop('disabled', true); // Se deshabilita para que no se valide en el formulario
				$('#tympTypeSelectLabel').hide();
				$('#tympTypeSelect').hide();
				$('#tympTypeSelect').prop('disabled', true); // Se deshabilita para que no se valide en el formulario
				$('#tympInputDivider').hide();
				$('#tympTitle').text([[#{prod.type.addPopupTitle}]]);
				$('#tympSave').text([[#{control.save}]]);	
			}

			function setTypeFormForDelete () {
				disableTypeInput(true);
				$('#tympCatSelectLabel').show();
				$('#tympCatSelect').show();
				$('#tympCatSelect').prop('disabled', false);				
				$('#tympClassSelectLabel').show();
				$('#tympClassSelect').show();
				$('#tympClassSelect').prop('disabled', false);
				$('#tympTypeSelectLabel').show();
				$('#tympTypeSelect').show();
				$('#tympTypeSelect').prop('disabled', false);
				$('#tympInputDivider').show();
				$('#tympTitle').text([[#{prod.type.deletePopupTitle}]]);
				$('#tympSave').text([[#{control.remove}]]);
			}

			function setTypeFormForUpdate () {
				disableTypeInput(false);
				$('#tympCatSelectLabel').show();
				$('#tympCatSelect').show();
				$('#tympCatSelect').prop('disabled', false);				
				$('#tympClassSelectLabel').show();
				$('#tympClassSelect').show();
				$('#tympClassSelect').prop('disabled', false);
				$('#tympTypeSelectLabel').show();
				$('#tympTypeSelect').show();
				$('#tympTypeSelect').prop('disabled', false);
				$('#tympInputDivider').show();
				$('#tympTitle').text([[#{prod.type.editPopupTitle}]]);
				$('#tympSave').text([[#{control.save}]]);	
			}
			
			function resetTypeForm () {
				$('#tympName').val('');
				$('#tympDesc').val('');
				$('#tympCatSelect').val('');
				$('#tympCatInput').val('');	
				emptyCombo('#tympClassSelect', true);
				emptyCombo('#tympClassInput', true);
				emptyCombo('#tympTypeSelect', true);
			}
			
			function cleanTypeFormInput () {
				$('#tympName').val('');
				$('#tympDesc').val('');
				$('#tympCatInput').val('');
				$('#tympClassInput').val('');
			}
			
			function disableTypeInput (value) {
				$('#tympName').prop('disabled', value);
				$('#tympDesc').prop('disabled', value);
				$('#tympCatInput').prop('disabled', value);
				$('#tympClassInput').prop('disabled', value);
			}
			
			function getTypeFormData () {
				var data = {
					codigo : $('#tympTypeSelect').val(),
					nombre : $('#tympName').val(),
					descripcion : $('#tympDesc').val(),
					codClase :$('#tympClassInput').val()
				};
				return data;
			}
			
			function setTypeData (data) {
				$('#tympName').val(data.nombre);
				$('#tympDesc').val(data.descripcion);
				$('#tympCatInput').val(data.codRubro);
				chainCombo(
						'#tympCatInput', 
						'#tympClassInput', 
						product.rest.classesByCategory, 
						data.codClase
				);
			}
			
			function loadEntityData(inputData, restUrl, setData) {
				$.ajax({
					type : 'POST',
					url : restUrl,
					dataType: 'json',
					contentType: 'application/json',
					data : inputData,
					success : function(data) {
						setData(data);
					},
					error : function(jqXHR, status) {
						$.notify({
							message: [[#{rest.dataload.error}]]
						},{
							type: 'danger'
						});
					}
				});
			}	

			function saveEntityData(data, restUrl, successMsg, callback) {
				$.ajax({
					type : 'POST',
					url : restUrl,
					dataType: 'json',
					contentType: 'application/json',
					data : JSON.stringify(data),
					success : function() {
						$.notify({
							message: successMsg
						},{
							type: 'success'
						});
						if (callback) {
							callback();
						}
					},
					error : function(jqXHR, status) {
						$.notify({
							message: [[#{rest.datasend.error}]]
						},{
							type: 'danger'
						});
					}
				});
			}
			/*]]>*/
		</script>
	</div>
</body>
</html>