<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">
<body>
	<div id="content" layout:fragment="contenido">
		<div id="menuEditor" class="animated zoomIn">
			<div class="row">
	            <div class="col-lg-3">
	            	<select id="menu" class="form-control input-md" autofocus="autofocus">
	            		<option value="" th:text="#{control.choose}"/>
	            		<option th:each="menu : ${menus}" th:text="${menu.text}" th:value="${menu.code}" />
	            	</select>
	            </div>
	        </div>
		</div>
		<script th:inline="javascript">
		
		</script>
	</div>
</body>
</html>