<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
  
    <div th:fragment="header" id="header" >
        <div class="color-line"></div>
        <a id="logo" class="light-version" href="#" th:href="@{/home}">
            <div>
                <img src="../../resources/app/img/logo20x.png" th:src="@{/resources/app/img/logo20x.png}"></img> 
                <span th:text="#{app.name}"></span>
            </div>
        </a>
        <nav role="navigation">
	        <div class="header-link hide-menu">
	            <i class="fa fa-bars"></i>
	        </div>
	        <div th:if="${pageConfig.hasSearch}" class="navbar-form-custom">
	            <input id="filter" type="text" th:placeholder="#{control.search}" placeholder="Buscar..." class="form-control" style="font-size: 18px;" name="search"/>
	        </div>
	        <div class="navbar-right">
	            <ul class="nav navbar-nav no-borders">
	                <li th:if="${pageConfig.hasSearch}" class="button">
	                    <a id="eraser" class="dropdown-toggle" data-toggle="button">
	                        <i class="fa fa-eraser"></i>
	                    </a>
	                </li>
	                <li class="dropdown">
	                    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown"> 
	                        <i class="fa fa-user fa-fw"></i> 
	                        <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul sec:authorize="isAnonymous()" class="dropdown-menu hdropdown animated flipInX">
	                        <li>
	                            <a href="#" th:href="@{/login}" th:text="#{control.login}">
	                                <i class="fa fa-sign-in fa-fw"></i>Ingresar
	                            </a>
	                        </li>
	                    </ul>
	                    <ul sec:authorize="isAuthenticated()" class="dropdown-menu hdropdown animated flipInX">
	                        <div class="title">
	                            <a class="font-extra-bold font-uppercase" sec:authentication="name">Usuario</a>
	                        </div>
	                        <li>
	                            <a href="#" th:href="@{/profile}" th:text="#{control.profile}">
	                                <i class="fa fa-user fa-fw"></i>Perfil
	                            </a>
	                        </li>
	                        <li>
	                            <a href="#" th:href="@{/doLogout}" th:text="#{control.logout}">
	                                <i class="fa fa-sign-out fa-fw"></i>Salir
	                            </a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
        </nav>
    </div>

</body>
</html>