<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

    <!-- App Title -->
    <title th:fragment="appTitle" th:text="#{app.name}" text="Proeza SGS"></title>

    <!-- App Icon -->
    <link th:fragment="appIcon" href="../../../resources/app/img/favicon.ico" th:href="@{/resources/app/img/favicon.ico}" rel="shortcut icon" />

    <!-- Galeria de imagenes -->
    <div th:fragment="imageGallery" id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">&lsaquo;</a><!-- Single left side angle quotation (U+2039) -->
        <a class="next">&rsaquo;</a><!-- Single right side angle quotation (U+203a) -->
        <a class="close">&times;</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    
    <!-- Simple splash screen-->
    <div th:fragment="splash" class="splash"> 
        <div class="color-line"></div>
        <div class="splash-title">
            <h1 th:text="#{app.splash.title}">Proeza - Sistema de Gestíon de Stock</h1>
            <p th:text="#{app.splash.detail}">Sistema de administración de recursos empresariales</p>
            <img th:src="@{/resources/app/img/loading-bars.svg}" width="64" height="64"/> 
        </div> 
    </div>
    
    <!-- Page Title -->
	<div th:fragment="pageTitle" class="normalheader small-header">
		<div class="hpanel">
            <div class="panel-body">
				<div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li th:if="${pageConfig.title} != null" >
							[[${pageConfig.title}]]
                        </li>
                        <li th:if="${pageConfig.subtitle} != null" >
							[[${pageConfig.subtitle}]]
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
				[[${pageConfig.title}]]
				<span th:if="${not pageConfig.subtitle.isEmpty()}" th:remove="tag">:</span>
				[[${pageConfig.subtitle}]]
                </h2>
				<small>[[${pageConfig.description}]]</small>
	        </div>
        </div>
    </div>

    <!-- Popup para cargar imagenes -->
    <div th:fragment="loadImagePopup">
        <!-- Modal de agregado de imagen -->
        <div class="modal fade" id="addImagePopup" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
		            <div class="color-line"></div>
	                <div class="modal-header text-center">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                    <h4 class="modal-title">
	                        <span th:text="#{control.addImage}" text="Agregar Imagen"></span>
	                    </h4>
	                </div>
	                <div id="addImagePanel" class="modal-body" >
	                    <form enctype="multipart/form-data">
	                        <input id="uploadImage" name="file" type="file" accept="image/jpeg" multiple="multiple"/>
	                    </form>
	                </div>
	                <div class="modal-footer">
	                    <button id="cancelImage" type="button" class="btn btn-default" th:text="#{control.close}" data-dismiss="modal"></button>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    
    <footer th:fragment="footer" class="footer">
        <span class="pull-right">
        [[#{app.description}]]
        </span>
        [[#{app.copyright}]]
    </footer>
</body>
</html>