<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout.html">
<body>
	<div id="content" layout:fragment="contenido">
		<link rel="stylesheet" href="../../../resources/jqx/css/jqx.base.css" th:href="@{/resources/jqx/css/jqx.base.css}" type="text/css" media="screen" />
		<link rel="stylesheet" href="../../../resources/jqx/css/jqx.energyblue.css" th:href="@{/resources/jqx/css/jqx.energyblue.css}" type="text/css" media="screen" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxcore.js" th:src="@{/resources/jqx/js/jqxcore.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxdata.js" th:src="@{/resources/jqx/js/jqxdata.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxbuttons.js" th:src="@{/resources/jqx/js/jqxbuttons.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxscrollbar.js" th:src="@{/resources/jqx/js/jqxscrollbar.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxmenu.js" th:src="@{/resources/jqx/js/jqxmenu.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.js" th:src="@{/resources/jqx/js/jqxgrid.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.pager.js" th:src="@{/resources/jqx/js/jqxgrid.pager.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.selection.js" th:src="@{/resources/jqx/js/jqxgrid.selection.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxnumberinput.js" th:src="@{/resources/jqx/js/jqxnumberinput.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxwindow.js" th:src="@{/resources/jqx/js/jqxwindow.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxlistbox.js" th:src="@{/resources/jqx/js/jqxlistbox.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxdropdownlist.js" th:src="@{/resources/jqx/js/jqxdropdownlist.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxinput.js" th:src="@{/resources/jqx/js/jqxinput.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/demos.js" th:src="@{/resources/jqx/js/demos.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.sort.js" th:src="@{/resources/jqx/js/jqxgrid.sort.js}" />
		<script type="text/javascript" src="../../../resources/jquery/jquery.inputmask.bundle.js" th:src="@{/resources/jquery/jquery.inputmask.bundle.js}" />

		<script type="text/javascript">
			$(document).ready(function() {
				// prepare the data
				var source = {
					datatype : "json",
					dataFields : [ {
						name : 'modelo',
						type : 'string'
					}, {
						name : 'descripcion',
						type : 'string'
					}, {
						name : 'clase',
						type : 'string'
					}, {
						name : 'tipo',
						type : 'string'
					}, {
						name : 'marca',
						type : 'string'
					}, {
						name : 'rubro',
						type : 'string'
					}, {
						name : 'precio',
						type : 'double'
					}, {
						name : 'codArt',
						type : 'string'
					}, {
						name : 'codClase',
						type : 'string'
					}, {
						name : 'codTipo',
						type : 'string'
					}, {
						name : 'codMarca',
						type : 'string'
					}, {
						name : 'codRubro',
						type : 'string'
					}, ],
					updaterow : function(rowid, rowdata, commit) {
						// synchronize with the server - send update command
						// call commit with parameter true if the synchronization with the server is successful 
						// and with parameter false if the synchronization failder.
						commit(true);
					},
					id : "id",
					url : "/proeza-sgs/rest/articulos/findAll"
				};

				// initialize the input fields.
				$("#modelo").jqxInput({
					theme : theme
				});
				$("#clase").jqxInput({
					theme : theme
				});
				$("#tipo").jqxInput({
					theme : theme
				});
				$("#marca").jqxInput({
					theme : theme
				});

				var dataAdapter = new $.jqx.dataAdapter(source);
				var editrow = -1;

				// initializa la grilla de articulos
				$("#articulos").jqxGrid({
					width : '100%',
					height : 470,
					theme: 'energyblue',
					source : dataAdapter,
					pageable : false,
					autoheight : false,
					altrows : true,
					sortable : true,
					enabletooltips : true,
					columns : [
					{
						text : 'Clase',
						dataField : 'clase',
						width : 140
					}, {
						text : 'Marca',
						dataField : 'marca',
						width : 140
					}, {
						text : 'Modelo',
						dataField : 'modelo',
						width : 220
					}, {
						text : 'Precio',
						dataField : 'precio',
						cellsalign : 'right',
						cellsformat : 'c2',
						minwidth : 100
					}, {
						text : 'Editar',
						datafield : 'Edit',
						columntype : 'button',
						cellsrenderer : function() {
							return "Edit";
						},
						buttonclick : function(row) {
							// open the popup window when the user clicks a button.
							editrow = row;
							var offset = $("#articulos").offset();
							// get the clicked row's data and initialize the input fields.
							var dataRecord = $("#articulos").jqxGrid('getrowdata', editrow);
							$("#modelo").val(dataRecord.modelo);
							$("#clase").val(dataRecord.clase);
							$("#tipo").val(dataRecord.tipo);
							$("#marca").val(dataRecord.marca);
							$("#rubro").val(dataRecord.rubro);
							$("#precio").val(dataRecord.precio);
							$("#editionPopup").modal('show');
						}
					} ]
				});

				// update the edited row when the user clicks the 'Save' button.
				$("#guardar").click(function() {
					if (editrow >= 0) {
						var row = {
							modelo : $("#modelo").val(),
							clase : $("#clase").val(),
							tipo : $("#tipo").val(),
							marca : $("#marca").val(),
							rubro : $("#rubro").val(),
							precio : $("#precio").val()
						};
						var rowID = $('#articulos').jqxGrid('getrowid', editrow);
						$('#articulos').jqxGrid('updaterow', rowID, row);
					}
					$("#editionPopup").modal('hide');
				});
				$("#cancelar").click(function() {
					$("#editionPopup").modal('hide');
				});
			});
			$(document).ready(function(){
				$("#precio").inputmask("currency", { "autoUnmask": true });
			});
		</script>
		<!-- Titulo -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">
					<span th:text="#{art.title}" />
					<small th:text="#{art.admin.subtitle}" />
				</h2>
<!-- 				<ol class="breadcrumb"> -->
<!-- 					<li><i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a></li> -->
<!-- 					<li class="active"><i class="fa fa-table"></i> Tables</li> -->
<!-- 				</ol> -->
			</div>
		</div>
		<!-- Grilla de articulos -->
		<div class="row" id="articulos" />
		<!-- Modal -->
		<div class="modal fade" id="editionPopup" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div id="editpanel">
						<form class="form-horizontal" style="width: 400px">
							<div class="form-group">
								<label for="modelo" class="col-sm-2 control-label" th:text="#{control.model}" />
								<div class="col-sm-10">
									<input class="form-control input-sm" id="modelo" />
								</div>
							</div>
							<div class="form-group">
								<label for="clase" class="col-sm-2 control-label" th:text="#{control.class}" />
								<div class="col-sm-10">
									<select id="clase" class="form-control input-sm">
										<option />
										<option th:each="clase : ${clases}" th:text="${clase.nombre}" th:id="${clase.codigo}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="tipo" class="col-sm-2 control-label" th:text="#{control.type}" />
								<div class="col-sm-10">
									<select id="tipo" class="form-control input-sm">
										<option />
										<option th:each="tipo : ${tipos}" th:text="${tipo.nombre}" th:id="${tipo.codigo}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="marca" class="col-sm-2 control-label" th:text="#{control.brand}" />
								<div class="col-sm-10">
									<select id="marca" class="form-control input-sm">
										<option />
										<option th:each="marca : ${marcas}" th:text="${marca.nombre}" th:id="${marca.codigo}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="precio" class="col-sm-2 control-label" th:text="#{control.price}" />
								<div class="col-sm-10">
									<input class="form-control input-sm" id="precio" data-mask="999.999.999,99" />
								</div>
							</div>
							<div class="form-group">
								<label for="tipo" class="col-sm-2 control-label" th:text="#{control.category}" />
								<div class="col-sm-10">
									<select id="rubro" class="form-control input-sm">
										<option />
										<option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:id="${rubro.codigo}" />
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button id="cancelar" type="button" class="btn btn-default" th:text="#{control.cancel}" />
									<button id="guardar" type="button" class="btn btn-default" th:text="#{control.save}" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<script type="text/javascript" src="../../../resources/bootstrap/js/bootstrap.js" th:src="@{/resources/bootstrap/js/bootstrap.js}" />
</html>