<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">
<body>
    <div id="content" layout:fragment="contenido">
        <link rel="stylesheet" href="../../../resources/jqx/css/jqx.base.css" th:href="@{/resources/jqx/css/jqx.base.css}" type="text/css" media="screen" />
        <link rel="stylesheet" href="../../../resources/jqx/css/jqx.energyblue.css" th:href="@{/resources/jqx/css/jqx.energyblue.css}" type="text/css" media="screen" />
		<link rel="stylesheet" href="../../../resources/fileinput/css/fileinput.css" th:href="@{/resources/fileinput/css/fileinput.css}" media="all" type="text/css" />

		<!-- Grilla de articulos -->
		<div id="gridPanel" class="row animated zoomIn">
			<div class="col-md-12">
				<div id="productGrid" />
			</div> 
		</div>
        <p/>
        <div id="thumbnailsPanel" class="row">
            <div class="col-md-12">
                <div id="links" />
            </div>
        </div>
        <!-- Panel de edicion -->
        <div id="editionPanel" class="hpanel animated fadeInUp" hidden="true">
            <div class="panel-heading">
                <span id="formTitle" />
            </div>
            <div class="panel-body">
                <form id="productForm" class="form-horizontal">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblCodigo" for="codigo" class="col-sm-3 control-label" th:text="#{control.code}" />
                                    <div class="col-sm-9">
                                        <input id="codigo" class="form-control input-md" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="modelo" class="col-sm-3 control-label" th:text="#{control.model}" />
                                    <div class="col-sm-9">
                                        <input id="modelo" name="modelo" class="form-control input-md" required="required" autofocus="autofocus"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="descripcion" class="col-sm-3 control-label" th:text="#{control.description}" />
                                    <div class="col-sm-9">
                                        <input id="descripcion" class="form-control input-md" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="clase" class="col-sm-3 control-label" th:text="#{control.class}" />
                                    <div class="col-sm-9">
                                        <select id="cbClase" name="clase" class="form-control input-md" required="required" >
                                            <option value="" th:text="#{control.choose}"/>
                                            <option th:each="clase : ${clases}" th:text="${clase.nombre}" th:id="${clase.codigo}" />
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cbTipo" class="col-sm-3 control-label" th:text="#{control.type}" />
                                    <div class="col-sm-9">
                                        <select id="cbTipo" class="form-control input-md" >
                                            <option value="" th:text="#{control.choose}"/>
                                            <option th:each="tipo : ${tipos}" th:text="${tipo.nombre}" th:id="${tipo.codigo}" />
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cbMarca" class="col-sm-3 control-label" th:text="#{control.brand}" />
                                    <div class="col-sm-9">
                                        <select id="cbMarca" name="marca" class="form-control input-md" required="required" >
                                            <option value="" th:text="#{control.choose}"/>
                                            <option th:each="marca : ${marcas}" th:text="${marca.nombre}" th:id="${marca.codigo}" />
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cbRubro" class="col-sm-3 control-label" th:text="#{control.category}" />
                                    <div class="col-sm-9">
                                        <select id="cbRubro" name="rubro" class="form-control input-md" required="required" >
                                            <option value="" th:text="#{control.choose}"/>
                                            <option th:each="rubro : ${rubros}" th:text="${rubro.nombre}" th:id="${rubro.codigo}" />
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="precio" class="col-sm-3 control-label" th:text="#{control.price}" />
                                    <div class="col-sm-9">
                                        <input id="precio" class="form-control input-md" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="costo" class="col-sm-3 control-label" th:text="#{control.cost}" />
                                    <div class="col-sm-9">
                                        <input id="costo" class="form-control input-md" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cantidad" class="col-sm-3 control-label" th:text="#{control.quantity}" />
                                    <div class="col-sm-9">
                                        <input id="cantidad" class="form-control input-md" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p/>
                        <div class="col-md-12">
                            <button id="cancelEdit" type="button" class="btn btn-default" th:text="#{control.cancel}" />
                            <button id="saveEdit" type="submit" class="btn btn-primary" th:text="#{control.save}" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <span id="formFooter" />
            </div>
        </div>
        <!-- Modal de agregado de imagen -->
        <div th:replace="fragment/misc.html::loadImagePopup"/>
        <!-- Modal de agregado de imagen -->
        <div th:replace="fragment/misc.html::confirmPopup"/>
		<!-- Menu Contextual -->
		<div id="gridContextMenu">
	        <ul>
	            <li id="editProd" th:text="#{prod.menu.edit}"/>
	            <li id="addImgToProd" th:text="#{prod.menu.addImage}"/>
	            <li id="copyProd" th:text="#{prod.menu.copy}"/>
	            <li id="createProd" th:text="#{prod.menu.create}"/>
	            <li id="deleteProd" th:text="#{prod.menu.remove}"/>
	        </ul>
        </div>
        <div id="commandBar" class="floating">
            <button id="newProduct" class="btn fa fa-plus fa-3x btn-plus" th:title="#{prod.add.tooltip}"/>
        </div>
        
		<script type="text/javascript" src="../../../resources/jqx/js/jqxcore.js" th:src="@{/resources/jqx/js/jqxcore.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxdata.js" th:src="@{/resources/jqx/js/jqxdata.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxbuttons.js" th:src="@{/resources/jqx/js/jqxbuttons.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxscrollbar.js" th:src="@{/resources/jqx/js/jqxscrollbar.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxmenu.js" th:src="@{/resources/jqx/js/jqxmenu.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.js" th:src="@{/resources/jqx/js/jqxgrid.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.selection.js" th:src="@{/resources/jqx/js/jqxgrid.selection.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxnumberinput.js" th:src="@{/resources/jqx/js/jqxnumberinput.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxwindow.js" th:src="@{/resources/jqx/js/jqxwindow.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxlistbox.js" th:src="@{/resources/jqx/js/jqxlistbox.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxdropdownlist.js" th:src="@{/resources/jqx/js/jqxdropdownlist.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxinput.js" th:src="@{/resources/jqx/js/jqxinput.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.sort.js" th:src="@{/resources/jqx/js/jqxgrid.sort.js}" />
		<script type="text/javascript" src="../../../resources/jquery/jquery.inputmask.bundle.js" th:src="@{/resources/jquery/jquery.inputmask.bundle.js}" />
		<script type="text/javascript" src="../../../resources/bootstrap/js/bootstrap-notify.js" th:src="@{/resources/bootstrap/js/bootstrap-notify.js}" />
		<script type="text/javascript" src="../../../resources/fileinput/js/fileinput.js" th:src="@{/resources/fileinput/js/fileinput.js}" />
		<script type="text/javascript" src="../../../resources/fileinput/js/fileinput_locale_es.js" th:src="@{/resources/fileinput/js/fileinput_locale_es.js}" />
        <script type="text/javascript" src="../../../resources/gallery/js/blueimp-gallery.js" th:src="@{/resources/gallery/js/blueimp-gallery.js}"/>
        <script type="text/javascript" src="../../../resources/gallery/js/blueimp-gallery-indicator.js" th:src="@{/resources/gallery/js/blueimp-gallery-indicator.js}"/>
        <script type="text/javascript" src="../../../resources/gallery/js/jquery.blueimp-gallery.js" th:src="@{/resources/gallery/js/jquery.blueimp-gallery.js}"/>
        <script type="text/javascript" src="../../../resources/app/js/aticulo.js" th:src="@{/resources/app/js/articulo.js}"/>
        
		<script th:inline="javascript">
		 	/*<![CDATA[*/
		 	var formMode;
        	var lastSelectedRow = -1;
			// Inicializacion de la tabla de arículos
			$(document).ready(function() {
				// prepare the data
				var source = {
					datatype : "json",
					id : "id",
					url : articulo.rest.search + '?filter=',
					dataFields : [ 
		               {name : 'codigo', type : 'string'},
		               {name : 'modelo', type : 'string'},
		               {name : 'descripcion', type : 'string' }, 
		               {name : 'clase', type : 'string'},
		               {name : 'tipo', type : 'string'}, 
		               {name : 'marca', type : 'string'}, 
		               {name : 'rubro', type : 'string'}, 
		               {name : 'precio', type : 'double'}, 
		               {name : 'costo', type : 'double'}, 
		               {name : 'cantidad', type : 'int'}, 
		               {name : 'codClase', type : 'string'}, 
		               {name : 'codTipo', type : 'string'},
		               {name : 'codMarca', type : 'string'}, 
		               {name : 'codRubro', type : 'string'},
		            ],
		            addrow : function(rowid, rowdata, position, commit) {
		            	$.ajax({
							type : 'POST',
							url : articulo.rest.create,
							dataType: 'json',
							contentType: 'application/json',
							data : JSON.stringify(rowdata),
							success : function() {
								$.notify({
									title: /*[[#{prod.create.title}]]*/ '<strong>Creación de artículo:</strong>',
									message: /*[[#{prod.create.success.message}]]*/ 'El articulo fue creado correctamente' 
								},{
									type: 'success'
								});
								commit(true);
							},
							error: function () {            
								$.notify({
									title: /*[[#{prod.create.title}]]*/ '<strong>Creación de artículo:</strong>',
									message: /*[[#{prod.create.error.message}]]*/ 'Ocurrió un error durante la creación del artículo',
								},{
									type: 'danger'
								});
								commit(false);
					        }
						});
		            },
					updaterow : function(rowid, rowdata, commit) {
						$.ajax({
							type : 'POST',
							url : articulo.rest.update,
							dataType: 'json',
							contentType: 'application/json',
							data : JSON.stringify(rowdata),
							success : function() {
								$.notify({
									title: /*[[#{prod.update.title}]]*/ '<strong>Modificación de artículo:</strong>',
									message: /*[[#{prod.update.success.message}]]*/ 'La modificación se realizó correctamente'
								},{
									type: 'success'
								});
								commit(true);
							},
							error: function () {            
								$.notify({
									title: /*[[#{prod.update.title}]]*/ '<strong>Modificación de artículo:</strong>',
									message: /*[[#{prod.update.error.message}]]*/ 'Ocurrió un error en la actualización del artículo'
								},{
									type: 'danger'
								});
								commit(false);
					        }
						});
					},
					deleterow : function(rowid, commit) {
	    				var rowdata = $('#productGrid').jqxGrid('getrowdata', lastSelectedRow);
						$.ajax({
							type : 'POST',
							url : articulo.rest.remove,
							dataType: 'json',
							contentType: 'application/json',
							data : rowdata.codigo,
							success : function() {
								$.notify({
									title: /*[[#{prod.remove.title}]]*/ '<strong>Eliminación de artículo:</strong>',
									message: /*[[#{prod.remove.success.message}]]*/ 'La eliminación se realizó correctamente'
								},{
									type: 'success'
								});
								commit(true);
							},
							error: function () {            
								$.notify({
									title: /*[[#{prod.remove.title}]]*/ '<strong>Eliminación de artículo:</strong>',
									message: /*[[#{prod.remove.error.message}]]*/ 'Ocurrió un error en la eliminación del artículo'
								},{
									type: 'danger'
								});
								commit(false);
					        }
						});
					}
				};
				var dataAdapter = new $.jqx.dataAdapter(source);
				
				// initializa la grilla de articulos
				$("#productGrid").jqxGrid({
					width : '100%',
					height : '100%',
					theme : 'energyblue',
					source : dataAdapter,
					pageable : false,
					autoheight : false,
					altrows : true,
					sortable : true,
					enabletooltips : true,
					columns : [ {
    						text : /*[[#{prod.grid.model}]]*/ 'Modelo',
    						dataField : 'modelo',
    						width : '28%'
    					},{
    						text : /*[[#{prod.grid.class}]]*/ 'Clase',
    						dataField : 'clase',
    						width : '28%'
    					},{
    						text : /*[[#{prod.grid.trademark}]]*/ 'Marca',
    						dataField : 'marca',
    						width : '22%'
    					},{
    						text : /*[[#{prod.grid.cost}]]*/ 'Costo',
    						dataField : 'costo',
    						cellsalign : 'right',
    						cellsformat : 'c2',
    						minwidth : '10%'
    					},{
    						text : /*[[#{prod.grid.price}]]*/ 'Precio',
    						dataField : 'precio',
    						cellsalign : 'right',
    						cellsformat : 'c2',
    						minwidth : '10%'
    					},{
							text: /*[[#{prod.grid.quantity}]]*/ 'Cantidad', 
							dataField: 'cantidad', 
							cellsalign: 'center', 
							minwidth: '2%' 
						}
    				]
				});
				// create context menu
				var contextMenu = $("#gridContextMenu").jqxMenu({
					width : 190,
					height : 135,
					autoOpenPopup : false,
					mode : 'popup'

				});
				$("#productGrid").on('contextmenu', function() {
					return false;
				});
				$("#newProduct").click(function(){
					initCreationForm();
				});
				// handle context menu clicks.
				$("#gridContextMenu").on('itemclick', function(event) {
					var args = event.args;
					var lastSelectedRow = $("#productGrid").jqxGrid('getselectedrowindex');
					var offset = $("#productGrid").offset();
					// get the clicked row's data and initialize the input fields.
					var dataRecord = $("#productGrid").jqxGrid('getrowdata', lastSelectedRow);
					if ($.trim($(args).text()) == [[#{prod.menu.edit}]]) {
						initEditionForm(dataRecord);
					} else if ($.trim($(args).text()) == [[#{prod.menu.create}]]) { 
						initCreationForm();
					} else if ($.trim($(args).text()) == [[#{prod.menu.copy}]]) { 
						initCopyCreationForm(dataRecord);
					} else if ($.trim($(args).text()) == [[#{prod.menu.remove}]]) {
						showRemoveConfirmation();
					} else if ($.trim($(args).text()) == [[#{prod.menu.addImage}]]) {
				         var fileInputOptions = {
								showUpload : true,
								showRemove : true,
				        	    uploadAsync: true,
								maxFileCount : 5,
				                allowedFileExtensions : ['jpg', 'png','gif'],
								allowedFileTypes : ["image"],
				                uploadUrl: articulo.rest.addImage + '?artCode=' + dataRecord.codigo
						};
			         	// File input plugin options
			            $("#uploadImage").fileinput(fileInputOptions);
						$("#addImagePopup").modal('show');
					}
				});
				$("#productGrid").on('rowselect', function (event) {
	            	var rowIndex = event.args.rowindex;
	            	var dataRecord = $("#productGrid").jqxGrid('getrowdata', rowIndex);
	            	if (lastSelectedRow != rowIndex) {
	            		lastSelectedRow = rowIndex;
	            		cleanContainer('links');
	            		updateGaleryPreview(dataRecord.codigo, 'links');
	            	}
	            });
				$("#productGrid").on('rowclick', function(event) {	
					if (event.args.rightclick) {	
						$("#productGrid").jqxGrid('selectrow', event.args.rowindex);
						var scrollTop = $(window).scrollTop();
						var scrollLeft = $(window).scrollLeft();
						contextMenu.jqxMenu(
							'open', 
							parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft,
							parseInt(event.args.originalEvent.clientY) + 5 + scrollTop
						);
						return false;
					}
				});

				$("#productForm").submit(function( e ) {
    			    e.preventDefault();
					var rowdata = {
						codigo : $("#codigo").val(),
						modelo : $("#modelo").val(),
						descripcion : $("#descripcion").val(),
						clase : $("#cbClase").val(),
						tipo : $("#cbTipo").val(),
						rubro : $("#cbRubro").val(),
						marca : $("#cbMarca").val(),
						precio : $("#precio").val(),
						costo : $("#costo").val(),
						cantidad : $("#cantidad").val(),
						codClase : $("#cbClase option:selected").attr('id'),
						codTipo : $("#cbTipo option:selected").attr('id'),
						codMarca : $("#cbMarca option:selected").attr('id'),
						codRubro : $("#cbRubro option:selected").attr('id')
					};
					if (formMode == 'creation') {
						rowdata.codigo = '';
						$('#productGrid').jqxGrid('addrow', null, rowdata, 0);
					} else if (formMode == 'edition' && lastSelectedRow >= 0) {
						var rowid = $('#productGrid').jqxGrid('getrowid', lastSelectedRow);
						$('#productGrid').jqxGrid('updaterow', rowid, rowdata);
					}
					hideForm();
				});

				// Hide popup when cancel
				$("#cancelEdit").click(function() {
					hideForm();
				});
				$("#cancelImage").click(function() {
					$("#addImagePopup").modal('hide');
				});

				// Configuracion del control de ingreso del precio
				$("#precio").inputmask("currency", {
					autoUnmask : true, rightAlign: false 
				});
				$("#costo").inputmask("currency", {
					autoUnmask : true, rightAlign: false 
				});
				
				 // Inicializa los controles del filto
	            $('#filter').on('input', function() {
	                var filter = $(this).val();
	                var params = "filter=" + replaceAll(filter.trim(), ' ',',');
	                source.url = articulo.rest.search + "?" + params;
					// pasando "cells" al comando 'updatebounddata' solo se refrescan los valores de las celdas cuando la cantidad nueva de filas es igual a la anterior
	                $("#productGrid").jqxGrid('updatebounddata', 'cells');
	            });
	            $("#eraser").click(function () {
	                $("#productGrid").jqxGrid('clear');
		            cleanContainer('links');
	            });
			});
			
			function showRemoveConfirmation () {
    			$("#confirmationText").text([[#{prod.confirm.remove}]]);
    			$("#confirmAction").click(function() {
    				var rowid = $("#productGrid").jqxGrid('getrowid', lastSelectedRow);
					$("#productGrid").jqxGrid('deleterow', rowid);	
    			});
    			$("#confirmPopup").modal('show');
			}
			function showForm() {
				$("#gridPanel").hide();
				$("#commandBar").hide();
				$("#thumbnailsPanel").hide();
				$("#editionPanel").show();
			}
			
			function hideForm() {
				$("#gridPanel").show();
				$("#commandBar").show();
				$("#thumbnailsPanel").show();
				$("#editionPanel").hide();
			}
			
			function initCreationForm () {
				formMode = 'creation';
				$("#modelo").val('');
				$("#descripcion").val('');
				$("#cbClase").val('');
				$("#cbTipo").val('');
				$("#cbMarca").val('');
				$("#cbRubro").val('');
				$("#precio").val('0');
				$("#costo").val('0');
				$("#cantidad").val('0');
				// Setting the form controls
				$("#formTitle").text([[#{prod.admin.creation.title}]]);
				$("#formFooter").text([[#{prod.admin.creating}]]);
				$("#codigo").hide();
				$("#lblCodigo").hide();
				showForm();
			}
			
			function initCopyCreationForm (dataRecord) {
				formMode = 'creation';
				$("#codigo").val('');
				$("#codigo").hide();
				$("#lblCodigo").hide();
				$("#modelo").val(dataRecord.modelo);
				$("#descripcion").val(dataRecord.descripcion);
				$("#cbClase").val(dataRecord.clase);
				$("#cbTipo").val(dataRecord.tipo);
				$("#cbMarca").val(dataRecord.marca);
				$("#cbRubro").val(dataRecord.rubro);
				$("#precio").val(dataRecord.precio);
				$("#costo").val(dataRecord.costo);
				$("#cantidad").val('0');
				// Setting the form controls
				$("#formTitle").text([[#{prod.admin.creation.title}]]);
				$("#formFooter").text([[#{prod.admin.copying}]] + dataRecord.clase + " " + dataRecord.marca + " " + dataRecord.modelo);
				$("#codigo").hide();
				$("#lblCodigo").hide();
				showForm();
			}
			
			function initEditionForm (dataRecord) {
				formMode = 'edition';
				$("#codigo").val(dataRecord.codigo);
				$("#modelo").val(dataRecord.modelo);
				$("#descripcion").val(dataRecord.descripcion);
				$("#cbClase").val(dataRecord.clase);
				$("#cbTipo").val(dataRecord.tipo);
				$("#cbMarca").val(dataRecord.marca);
				$("#cbRubro").val(dataRecord.rubro);
				$("#precio").val(dataRecord.precio);
				$("#costo").val(dataRecord.costo);
				$("#cantidad").val(dataRecord.cantidad);
				// Setting the form controls
				$("#formTitle").text([[#{prod.admin.edition.title}]]);
				$("#formFooter").text([[#{prod.admin.editing}]] + dataRecord.codigo);
				$("#codigo").show();
				$("#lblCodigo").show();
				showForm();
			}
			/*]]>*/
		</script>
	</div>
</body>
</html>
