<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">
<body>
	<div id="content" layout:fragment="contenido">
		<link rel="stylesheet" href="../../../resources/jqx/css/jqx.base.css" th:href="@{/resources/jqx/css/jqx.base.css}" type="text/css" />
		<link rel="stylesheet" href="../../../resources/jqx/css/jqx.energyblue.css" th:href="@{/resources/jqx/css/jqx.energyblue.css}" type="text/css" media="screen" />
		
        <!-- Grilla de articulos -->
		<div id="gridPanel" class="row animated zoomIn">
			<div class="col-md-12">
		        <div id="productGrid"/>
			</div>
		</div>
        <p/>
		<div class="row">
			<div class="col-md-12">
			    <div id="links"></div>
			</div>
		</div>
        <div th:if="${CONTEXT_PROD_LIST_GRID} != null" id="gridContextMenu">
            <ul>
                <li th:each="item : ${CONTEXT_PROD_LIST_GRID.items}" th:id="${item.code}" >
                    <span th:text="${item.text}" th:remove="tag"/> 
                    <ul th:if="${!item.subitems.isEmpty()}" >
                        <li th:each="subitem : ${item.subitems}" th:id="${subitem.code}" th:text="${subitem.text}"/>
                    </ul>
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="../../../resources/jqx/js/jqxcore.js" th:src="@{/resources/jqx/js/jqxcore.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxdata.js" th:src="@{/resources/jqx/js/jqxdata.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxbuttons.js" th:src="@{/resources/jqx/js/jqxbuttons.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxscrollbar.js" th:src="@{/resources/jqx/js/jqxscrollbar.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxmenu.js" th:src="@{/resources/jqx/js/jqxmenu.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.js" th:src="@{/resources/jqx/js/jqxgrid.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.selection.js" th:src="@{/resources/jqx/js/jqxgrid.selection.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.sort.js" th:src="@{/resources/jqx/js/jqxgrid.sort.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.columnsresize.js" th:src="@{/resources/jqx/js/jqxgrid.columnsresize.js}" />
        <script type="text/javascript" src="../../../resources/bootstrap/js/bootstrap-notify.js" th:src="@{/resources/bootstrap/js/bootstrap-notify.js}" />
		<script type="text/javascript" src="../../../resources/gallery/js/blueimp-gallery.js" th:src="@{/resources/gallery/js/blueimp-gallery.js}"/>
		<script type="text/javascript" src="../../../resources/gallery/js/blueimp-gallery-indicator.js" th:src="@{/resources/gallery/js/blueimp-gallery-indicator.js}"/>
		<script type="text/javascript" src="../../../resources/gallery/js/jquery.blueimp-gallery.js" th:src="@{/resources/gallery/js/jquery.blueimp-gallery.js}"/>
		<script type="text/javascript" src="../../../resources/app/js/aticulo.js" th:src="@{/resources/app/js/articulo.js}"/>

	    <script th:inline="javascript">
	 		/*<![CDATA[*/

        	$(document).ready(function () {
	        	initImageGallery();
	        	configGridSource();
				configGrid();            
	            configControls();
	        });
			
	        function initImageGallery() {
	        	$('#blueimp-gallery').data('useBootstrapModal', false);
		        $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', true);	
	        }
	        
	        function configControls() {
	        	// Inicializa los controles del filtro
	            $('#filter').on('input', function() {
	                refreshGrid(gridSource, 'productGrid');
	            });
	            $('#eraser').click(function () {
	                cleanContainer('links');
	                $('#productGrid').jqxGrid('clear');
	                $('#filter').val('');
	            });	
	        }
	        
	        function configGrid() {
	            var dataAdapter = new $.jqx.dataAdapter(gridSource);
	            // initializa la grilla de articulos
	            $('#productGrid').jqxGrid({
	                width: '100%',
					height : '100%',
	                source: dataAdapter,
					theme : 'energyblue',
	                columnsresize: true,
	                altrows: true,
			        sortable: true,
	                columns: [
						{ 
							text: /*[[#{prod.grid.model}]]*/ 'Modelo', 
							dataField: 'modelo', 
							width: '21%' 
						},{ 
							text: /*[[#{prod.grid.desc}]]*/ 'Descripción', 
							dataField: 'descripcion', 
							width: '21%' 
						},{ 
							text: /*[[#{prod.grid.clazz}]]*/ 'Clase', 
							dataField: 'clase',
							width: '14%' 
						},{ 
							text: /*[[#{prod.grid.type}]]*/ 'Tipo', 
							dataField: 'tipo', 
							width: '18%' 
						},{
							text: /*[[#{prod.grid.trademark}]]*/ 'Marca', 
							dataField: 'marca', 
							width: '14%' 
						},{
							text: /*[[#{prod.grid.price}]]*/ 'Precio', 
							dataField: 'precio', 
							cellsalign: 'right', 
							cellsformat: 'c2', 
							minwidth: '10%' 
						},{
							text: /*[[#{prod.grid.quantity}]]*/ 'Cantidad', 
							dataField: 'cantidad', 
							cellsalign: 'center', 
							minwidth: '2%' 
						}
	                ]
	            });
	            var contextMenu = initGridContextMenu();
	            $('#productGrid').on('rowselect', function (event) {
	            	var rowIndex = event.args.rowindex;
	            	var dataRecord = $('#productGrid').jqxGrid('getrowdata', rowIndex);
	            	if (currentRow != rowIndex) {
	            		currentRow = rowIndex;
	            		cleanContainer('links');
	            		updateGaleryPreview(dataRecord.codigo, 'links');
	            	}
	            });
				$('#productGrid').on('rowclick', function(event) {
					$('#productGrid').jqxGrid('selectrow', event.args.rowindex);
					if (event.args.rightclick) {
						var scrollTop = $(window).scrollTop();
						var scrollLeft = $(window).scrollLeft();
						contextMenu.jqxMenu(
								'open', 
								parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft,
								parseInt(event.args.originalEvent.clientY) + 5 + scrollTop
						);
						return false;
					}
				});
	        }

	        function initGridContextMenu() {
				// crea el menu contextual
				var contextMenu = $('#gridContextMenu').jqxMenu({
					width : 180,
					autoOpenPopup : false,
					mode : 'popup'
				});
				$('#productGrid').on('contextmenu', function() {
					return false;
				});
				// Manejo los eventos sobre el context menu de la grilla
				$('#gridContextMenu').on('itemclick', function(event) {
					var rowindex = $('#productGrid').jqxGrid('getselectedrowindex');
					var offset = $('#productGrid').offset();
					// get the clicked row's data and initialize the input fields.
					var dataRecord = $('#productGrid').jqxGrid('getrowdata', rowindex);
					switch (event.target.id) {
						case [[#{menuitem.seeImages}]] :						
							blueimp.Gallery($('#links a'), $('#blueimp-gallery').data());
							break;
						case [[#{menuitem.quickCashSale}]] :
							quickSale (dataRecord.codigo, [[#{saletype.cash}]], [[${user.alias}]], notifyQuickSaleDone);
							break;
						case [[#{menuitem.quickCreditSale}]] :
							quickSale (dataRecord.codigo, [[#{saletype.credit}]], [[${user.alias}]], notifyQuickSaleDone);
							break;
						case [[#{menuitem.quickDebitSale}]] :
							quickSale (dataRecord.codigo, [[#{saletype.debit}]], [[${user.alias}]], notifyQuickSaleDone);
							break;
						default:
							break;
					}
				})
				return contextMenu;
	        }
	        
	        function notifyQuickSaleDone (productCode, status) {
	        	var title, message, type;
	        	switch (status) {
	        		case 'success':
    	        		title = [[#{prod.quickSale.success.title}]]; 
    	        		message = [[#{prod.quickSale.success.message}]];
    	        		type = 'success';
    	        		refreshGrid(gridSource, 'productGrid');
	        		break;
	        		case 'error':
    	        		title = [[#{prod.quickSale.error.title}]]; 
    	        		message = [[#{prod.quickSale.error.message}]];
    	        		type = 'danger';
	        		break;
	        		default:
	        			break;
	        	}
	        	$.notify({
					title: title,
					message: message
				},{
					type: type
				});
	        }
			/*]]>*/
	    </script>
	</div>
</body>
</html>