<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">
<body>
	<div id="content" layout:fragment="contenido">
		<link rel="stylesheet" href="../../../resources/jqx/css/jqx.base.css" th:href="@{/resources/jqx/css/jqx.base.css}" type="text/css" />
		<link rel="stylesheet" href="../../../resources/jqx/css/jqx.energyblue.css" th:href="@{/resources/jqx/css/jqx.energyblue.css}" type="text/css" media="screen" />
		
		<div class="row">
			<div class="col-md-12">
		        <div id="articulos"/>
			</div>
		</div>
        <p/>
		<div class="row">
			<div class="col-md-12">
			    <div id="links"></div>
			</div>
		</div>
		<div id="gridContextMenu">
		    <ul>
				<li id="seeArtImages" th:text="#{art.list.menu.seeImages}"/>
			</ul>
		</div>
	    
		<script type="text/javascript" src="../../../resources/jqx/js/jqxcore.js" th:src="@{/resources/jqx/js/jqxcore.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxdata.js" th:src="@{/resources/jqx/js/jqxdata.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxbuttons.js" th:src="@{/resources/jqx/js/jqxbuttons.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxscrollbar.js" th:src="@{/resources/jqx/js/jqxscrollbar.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxmenu.js" th:src="@{/resources/jqx/js/jqxmenu.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.js" th:src="@{/resources/jqx/js/jqxgrid.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.selection.js" th:src="@{/resources/jqx/js/jqxgrid.selection.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/demos.js" th:src="@{/resources/jqx/js/demos.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.sort.js" th:src="@{/resources/jqx/js/jqxgrid.sort.js}" />
		<script type="text/javascript" src="../../../resources/jqx/js/jqxgrid.columnsresize.js" th:src="@{/resources/jqx/js/jqxgrid.columnsresize.js}" />
		<script type="text/javascript" src="../../../resources/gallery/js/blueimp-gallery.js" th:src="@{/resources/gallery/js/blueimp-gallery.js}"/>
		<script type="text/javascript" src="../../../resources/gallery/js/blueimp-gallery-indicator.js" th:src="@{/resources/gallery/js/blueimp-gallery-indicator.js}"/>

	    <script th:inline="javascript">

	        $(document).ready(function () {
	        	var lastSelectedRow = -1;
	        	var source = configSource();
	        	initImageGallery();
				initGrid(source, lastSelectedRow);            
	            initControls(source);
	        });
			
	        function initImageGallery() {
	        	$('#blueimp-gallery').data('useBootstrapModal', false);
		        $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', true);	
	        }
	        
	        function initGridContextMenu() {
				// crea el menu contextual
				var contextMenu = $("#gridContextMenu").jqxMenu({
					width : 180,
					height : 35,
					autoOpenPopup : false,
					mode : 'popup'
				});
				$("#articulos").on('contextmenu', function() {
					return false;
				});
				// Manejo los eventos sobre el context menu de la grilla
				$("#gridContextMenu").on('itemclick', function(event) {
					var args = event.args;
					var rowindex = $("#articulos").jqxGrid('getselectedrowindex');
					var offset = $("#articulos").offset();
					// get the clicked row's data and initialize the input fields.
					var dataRecord = $("#articulos").jqxGrid('getrowdata', rowindex);
					if ($.trim($(args).text()) == [[#{art.list.menu.seeImages}]]) {
						 // Initialize image gallery
						blueimp.Gallery($('#links a'), $('#blueimp-gallery').data());
					}
				})
				return contextMenu;
	        }
	        
	        function configSource() {
	        	return {
                	id: "id",
		            url: "/proeza-sgs/rest/articulo/search?filter=",
		            datatype: "json",
		            dataFields: [
							{name: 'codigo', type : 'string'},
     	                    {name: 'modelo', type: 'string'},
     	                    {name: 'descripcion', type: 'string'},
     	                    {name: 'clase', type: 'string'},
     	                    {name: 'tipo', type: 'string'},
     	                    {name: 'marca', type: 'string'},
     	                    {name: 'precio', type: 'double'},
		            ]
		        };	
	        }
	        
	        function initControls(source) {
	        	// Inicializa los controles del filtro
	            $('#filter').on('input', function() {
	                var filter = $(this).val();
	                var params = "filter=" + replaceAll(filter.trim(), ' ',',');
	                source.url = "/proeza-sgs/rest/articulo/search?" + params;
					// pasando "cells" al comando 'updatebounddata' solo se refrescan los valores de las celdas cuando la cantidad nueva de filas es igual a la anterior
	                $("#articulos").jqxGrid('updatebounddata', 'cells');
	            });
	            $("#eraser").click(function () {
	                $("#articulos").jqxGrid('clear');
	                $("#filter").val("");
	            });	
	        }
	        
	        function initGrid(source, lastSelectedRow) {
	            var dataAdapter = new $.jqx.dataAdapter(source);
	            // initializa la grilla de articulos
	            $("#articulos").jqxGrid({
	                width: '100%',
	                source: dataAdapter,
					theme : 'energyblue',
	                columnsresize: true,
	                altrows: true,
			        sortable: true,
	                columns: [
						{ 
							text: /*[[#{art.grid.model}]]*/ 'Modelo', 
							dataField: 'modelo', 
							width: '20%' 
						},{ 
							text: /*[[#{art.grid.desc}]]*/ 'Descripción', 
							dataField: 'descripcion', 
							width: '20%' 
						},{ 
							text: /*[[#{art.grid.class}]]*/ 'Clase', 
							dataField: 'clase',
							width: '15%' 
						},{ 
							text: /*[[#{art.grid.type}]]*/ 'Tipo', 
							dataField: 'tipo', 
							width: '20%' 
						},{
							text: /*[[#{art.grid.trademark}]]*/ 'Marca', 
							dataField: 'marca', 
							width: '15%' 
						},{
							text: /*[[#{art.grid.price}]]*/ 'Precio', 
							dataField: 'precio', 
							cellsalign: 'right', 
							cellsformat: 'c2', 
							minwidth: '10%' 
						}
	                ]
	            });
	            var contextMenu = initGridContextMenu();
	            $("#articulos").on('rowselect', function (event, lastSelectedRow) {
	                var rowIndex = event.args.rowindex;
		            if (lastSelectedRow != rowIndex) {
		            	lastSelectedRow = rowIndex;
		             	// Row select: Load thumbnails from server
						// get the clicked row's data and initialize the input fields.
						var dataRecord = $("#articulos").jqxGrid('getrowdata', rowIndex);
						var imagesUrl = '/proeza-sgs/rest/articulo/getImages/' + dataRecord.codigo;
				        // Add the demo images as links with thumbnails to the page
				        var linksContainer = document.getElementById('links');
						while (linksContainer.hasChildNodes()) {
							linksContainer.removeChild(linksContainer.lastChild);
						}
						linksContainer = $('#links');
					    $.ajax({
							type : 'POST',
					        url: imagesUrl,
					        dataType: 'json'
					    }).done(
					    	function (result) {
						        var thumbnailUrl, imageUrl;
						        $.each(result, 
						        	function (index, result) {
							            thumbnailUrl = '/proeza-sgs/rest/articulo/getThumbnail/' + dataRecord.codigo + "/" + result.id;
							            imageUrl = '/proeza-sgs/rest/articulo/getImage/' + dataRecord.codigo + "/" + result.id;
							            $('<a/>')
							                .append($('<img/>')
											.prop('src', thumbnailUrl))
							                .prop('href', imageUrl)
							                .prop('title', result.nombre)
							                .attr('data-gallery', '')
							                .appendTo(linksContainer);
							        }
						        );
						    }
					    );
		            }
	            });
				$("#articulos").on('rowclick', function(event) {
					$("#articulos").jqxGrid('selectrow', event.args.rowindex);
					if (event.args.rightclick) {
						var scrollTop = $(window).scrollTop();
						var scrollLeft = $(window).scrollLeft();
						contextMenu.jqxMenu(
								'open', 
								parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft,
								parseInt(event.args.originalEvent.clientY) + 5 + scrollTop
						);
						return false;
					}
				});
	        }
	    </script>
	</div>
</body>
</html>