<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">
<body>
	<div id="content" layout:fragment="contenido">
		<div>
			<canvas id="priceHistory" width="800" height="400"></canvas>
		</div>
		<script type="text/javascript" src="../../../resources/chart/js/chart.js" th:src="@{/resources/chart/js/chart.js}" ></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$.ajax({
					url : '/proeza-sgs/rest/articulo/priceHistory/PRRS000001',
					type : 'POST',
					dataType : 'json',
					contentType : 'application/json',
					success: function (data, status, jqXHR) {
						var ctx = document.getElementById("priceHistory").getContext("2d");
						var chartData = {
						    labels: ["January", "February", "March", "April", "May", "June", "July"],
						    datasets: [
						        {
						            label: "My First dataset",
						            fillColor: "rgba(220,220,220,0.2)",
						            strokeColor: "rgba(220,220,220,1)",
						            pointColor: "rgba(220,220,220,1)",
						            pointStrokeColor: "#fff",
						            pointHighlightFill: "#fff",
						            pointHighlightStroke: "rgba(220,220,220,1)",
						            data: data[0].prices
						        }
						    ]
						};
						var priceHistoryChart = new Chart(ctx).Line(chartData);				
			        },
			        error: function (jqXHR, status) {            
						console.log(jqXHR.statusText);
						console.log('Error found');
			        }
				});				
			});
		</script>
	</div>
</body>
</html>