/* ====== Misc Styles ====== */

#dan {
	width: 180px;
	margin: 0 auto 20px !important;
}

.auto-renew {
	background: #f1f1f1;
	border: 1px solid #eaeaea;
	padding: 4px 3px 13px 10px !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.auto-renew input {
	margin-top: 5px;
}

.auto-renew span {
	font-size: 12px;
	font-weight: 400;
	position: relative;
	top: 4px;
	padding-left: 5px;
}

#integrated-device {
	margin-bottom: -60px;
}

#integrated-logos {
	padding: 30px 0;
}

#integrated-logos img {
	margin-right: 35px;
}

#dynalert {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 0;
	margin-bottom: -38px;
	position: relative;
}

#dynalert h4 {
	color: #ffdc24;
	font-weight: 300;
}

#dynalert h4 span {
	font-weight: 400;
}

#dynalert a {
	color: #ffdc24;
	text-decoration: underline;
}

.border-header {
	color: #999;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 30px;
}

h4.border-header span {
	background-color: #f9f9f9;
	padding: 0 20px;
	position: relative;
	bottom: -8px;
}

/* ====== Minimal Styles ====== */

body#minimal {
	background-color: #f9f9f9;
	background-image: none;
}

header#minimal {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

header#header {
	background-color: #fff;
}

h1.top.minimal {
	position: relative;
	top: 5px !important;
	display: block;
}

body#minimal .header {
	padding: 40px 0 !important;
}

footer#minimal {
	background-color: #f9f9f9;
	padding-top: 30px;
	border-top: 1px solid #f1f1f1;
	margin-bottom: -10px;
}

footer#minimal p {
	font-size: 12px;
	color: #777;
}

#checkout-badges {
	margin-top: 10px;
	text-align: center;
}

#checkout-badges a:last-child {
	margin-right: 0 !important;
}

#checkout-badges a {
	margin-right: 10px;
}

/* ====== Page Titles ====== */

#page-title {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2a3644 url(../img/bg-texture.png) repeat fixed;
}

.dns-overview {
	background: url(../img/headers/overview.jpg) no-repeat fixed center top !important;
}

.mail-overview {
	background: url(../img/headers/dns-overview.jpg) no-repeat fixed center top !important;
}

.about-overview {
	background: url(../img/headers/about-us-overview.jpg) no-repeat fixed center top !important;
}

.whyus-overview {
	background: url(../img/headers/why-us-overview-blue.jpg) no-repeat fixed center top !important;
}

.what-is-dns-overview {
	background: url(../img/headers/why-us-overview.jpg) no-repeat fixed center top !important;
}

.priority-support-overview {
	background: url(../img/bg-cables.jpg) no-repeat fixed center top !important;
	background-color: #000;
}

.integration-overview {
	background: url(../img/bg-integration.jpg) no-repeat fixed center top !important;
	background-color: #000;
	padding-top: 90px !important;
}

#page-title h2 {
	margin-bottom: 0 !important;
	color: #b2b2b2;
	text-shadow: none;
	font-weight: 300;
	padding-top: 13px;
	font-size: 20px;
	padding-left: 10px;
}

#page-title p {
	font-size: 16px;
}

/* ====== Sub Page Styles ====== */

.border-white {
	border-bottom: 1px solid #fff;
	margin-bottom: 60px;
	margin-top: -1px;
	height: 1px;
}

.right-justify {
	text-align: right;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 30px;
}

.bottom-row {
	margin-top: 80px;
}

/* ====== Aside Navigation ====== */

#side-navigation li a {
	font-size: 14px;
	padding: 10px 30px !important;
	display: block;
	color: #555;
	font-weight: 300;
	text-align: right;
	margin-right: -30px;
	margin-bottom: 1px;
}

#side-navigation li a:hover {
	background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f9f9f9), to(#fff));
	background-image: -webkit-linear-gradient(right, #f9f9f9, #fff); 
	background-image:    -moz-linear-gradient(right, #f9f9f9, #fff); 
	background-image:     -ms-linear-gradient(right, #f9f9f9, #fff); 
	background-image:      -o-linear-gradient(right, #f9f9f9, #fff); 
}

#side-navigation li a.active {
	font-weight: 400;
	color: #26c1d0;
	background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f9f9f9), to(#fff));
	background-image: -webkit-linear-gradient(right, #f9f9f9, #fff); 
	background-image:    -moz-linear-gradient(right, #f9f9f9, #fff); 
	background-image:     -ms-linear-gradient(right, #f9f9f9, #fff); 
	background-image:      -o-linear-gradient(right, #f9f9f9, #fff); 
}

#legal-doc-wrap {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border-left: 1px solid #eee;
	margin-top: -60px;
	margin-bottom: -60px;
	padding: 80px 0 80px 30px;
}

#legal-doc-wrap p {
	font-size: 14px;
}

#legal-doc-wrap li {
	font-size: 14px;
}

/* ====== Checkout ====== */

/* === Misc === */
tr td label {
	padding: 5px 0;
}

tr td label input {
	margin: 0 5px 3px 0 !important;	
}

#payment-method {
	background: #fff;
	border: 1px solid #eaeaea;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
	border-radius: 3px;
}

#payment-method label {
	font-weight: 400;
}

#saved-cards {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;	
	border-top: 1px solid #eaeaea;
	padding: 15px 0 10px;
}

#saved-cards input {
	margin-right: 5px;
}

#saved-cards label {
	padding-top: 2px;
}

td.years select.years-sel,
select.small {
	height: 21px;
	font-size: 13px !important;
	padding: 0 !important;
}

label.cc {
	cursor: pointer;
	padding-left: 20px;
	padding-top: 8px;
	margin-top: -25px;
}

.radio3sel {
	margin-left: 10px;
	position: relative;
	left: 10px;
}
#checkout-terms {
	border-top: 1px dotted #ddd;
	margin-top: 30px;
	padding-top: 20px;
}

#set_cc h3 {
	margin-bottom: 5px;
}

#review-sign-in-wrap,
#review-sign-up-wrap,
#form-box-wrap,
#bitcoin-converter-wrap {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	padding: 30px;
	background-color: #f9f9f9;
	border: 1px solid #eaeaea;
}

#bitcoin-converter-wrap {
	background-color: #ffffff;
}

#footer-payment-icons a img {
	margin-right: 10px;
}

/* === / Misc === */

.checkout-step {
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
	background-color: #fff;
	border: 2px solid #f1f1f1;
	text-align: center;
	float: left;
	color: #ddd;
	width: 46px;
	height: 33px;
	padding-top: 13px;
	margin-left: 10px;
}

.checkout-step.active {
	font-weight: 600;
	color: #acd90e;
	border-color: #acd90e;
}

.checkout-step.visited {
	font-weight: 600;
	color: #ccc !important;
	border-color: #ddd;
}

.row-fluid select {
	font-size: 14px !important;
}

table#review-order {
}

table#review-order select {
	font-size: 12px;
}

a.update-cart {
	color: #bbb;
	font-size: 12px;
	font-weight: 400 !important;
	margin-top: 3px !important;
}

a.update-cart:hover {
	text-decoration: underline;
}

a.remove {
	color: #dd514c;
	font-size: 12px;
}

td.total, p.total {
	color: #f8ab10;
	font-weight: 600;
	font-size: 18px;
}

#alert-table {
	margin-bottom: 30px;
}

/* === Select Payment Method === */

#payment-type {
	margin-top: 30px;
	margin-bottom: 30px !important;
}

#payment-type label input {
	display: none;
}

.payment-option {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition:all .1s ease-in;
	   -moz-transition:all .1s ease-in;
	     -o-transition:all .1s ease-in;
	        transition:all .1s ease-in;
	background: #f9f9f9;
	border: 2px solid #eaeaea;
	padding: 20px !important;
	opacity: .7;
	-webkit-filter: grayscale(70%);
	margin-bottom: 0;
}

.payment-option-arrow {
    width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	
	border-top: 8px solid #acd90e;
	display: none;
	clear: both;
	margin: 0 auto -8px auto;
	position: relative;
	bottom: -22px;
}

.payment-option-arrow.fill {	
	border-top: 8px solid #fff;
	bottom: -19px;
	z-index: 99;
}

.show-arrow {
	display: block;
}

#astropay-wrap {
	min-height: 122px;
}

.payment-option:hover,
.payment-option.active {
	border-color: #acd90e;
	opacity: 1;
	cursor: pointer;
	-webkit-filter: grayscale(0%);
}

.payment-option.active {
	background-color: #fff;
}

.payment-option.active:hover {
	border-color: #acd90e;
}

.payment-option:hover {
	border-color: #26c1d0;
}

.payment-option span.credit-card {
	margin: 0 5px 0 0;
}

.payment-option span.credit-card.astro:nth-child(even) {
	margin-right: 0px !important;
}

.payment-option span.credit-card.astro:nth-child(1) {
	margin-bottom: 5px;
}

.payment-option span.credit-card.astro:nth-child(3) {
	margin-bottom: 0px;
}

.payment-option span.credit-card.astro:nth-child(4) {
	margin-bottom: 0px;
}

#credit-cards {
	
}

.credit-card {
	width: 58px;
	display: inline-block;
}

.credit-card.astro img {
	width: 58px;
}

#paypal {
	margin: 0 !important;
}

#big-paypal-logo {
	margin: 11px 0;	
}

.select-region {
	float: right;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 400;
	color: #999;
	text-transform: capitalize;
	padding-top: 7px;
}

.bank-icons-wrap  {
	margin: 0 !important;
	float: none;
	height
}

.bank-icons-wrap img {
	margin: 0 2px 2px 0;
	height: 36px;
}

.intl {
	font-size: 12px;
	color: #888;
	margin-top: -22px;
	clear: left;
	float: left;
	position: relative;
	left: 50px;
	z-index: 9;
}

.astropay-message {
	font-size: 14px;
	font-weight: 400;
	width: 170px;
}

.astropay-message strong {
	font-size: 16px;
	font-weight: 600 !important;
}

#region-picker {
	display: inline-block;
}

#region-sel {
	width: 115px;
	height: 30px;
}

#region-sel:active {
	border-color: none;
}

#region-picker img {
	width: 32px;
}

/* DD SLICK Select Box */

.dd-container {
	width: 60px !important;
}

.dd-select {
	background: transparent !important;
	border: none !important;
	width: 100% !important;
}

.dd-selected {
	padding: 5px 0 5px 0 !important;
}

.dd-options {
	border: 1px solid #eaeaea !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	width: 60px !important;
	background-color: #fff !important;
}

/* / DD SLICK Select Box */

/* bank icons */

#brazil {	
	background: url(../img/astropay/flags/brazil.png) no-repeat;
}

#itau {	
	background: url(../img/astropay/bank-icons/itau.png) no-repeat;
}

#bancodobrazil {	
	background: url(../img/astropay/bank-icons/bancodobrazil.png) no-repeat;
}

#hsbc {	
	background: url(../img/astropay/bank-icons/hsbc.png) no-repeat;
}

#boleto {	
	background: url(../img/astropay/bank-icons/boleto.png) no-repeat;
}

#caixa {	
	background: url(../img/astropay/bank-icons/caixa.png) no-repeat;
}

#santander {	
	background: url(../img/astropay/bank-icons/santander.png) no-repeat;
}

#bradesco {	
	background: url(../img/astropay/bank-icons/bradesco.png) no-repeat;
}

#dineromail {	
	background: url(../img/astropay/bank-icons/dineromail.png) no-repeat;
}

#cobro {	
	background: url(../img/astropay/bank-icons/cobro.png) no-repeat;
}

#ripsa {	
	background: url(../img/astropay/bank-icons/ripsa.png) no-repeat;
}

#webpay {	
	background: url(../img/astropay/bank-icons/webpay.png) no-repeat;
}

#redcompra {	
	background: url(../img/astropay/bank-icons/redcompra.png) no-repeat;
}

#bbva {	
	background: url(../img/astropay/bank-icons/bbva.png) no-repeat;
}

#banamex {	
	background: url(../img/astropay/bank-icons/banamex.png) no-repeat;
}

#oxxo {	
	background: url(../img/astropay/bank-icons/oxxo.png) no-repeat;
}

#payu {	
	background: url(../img/astropay/bank-icons/payu.png) no-repeat;
}

#interbank {	
	background: url(../img/astropay/bank-icons/interbank.png) no-repeat;
}

#redpagos {	
	background: url(../img/astropay/bank-icons/redpagos.png) no-repeat;
}

#sofort {	
	background: url(../img/astropay/bank-icons/sofort.png) no-repeat;
}

#giropay {	
	background: url(../img/astropay/bank-icons/giropay.png) no-repeat;
}

/* / bank icons */

/* === / Select Payment Method === */

/* ====== Sign Up Form ====== */

form#review-sign-up .parsley-error-list {
	
}

.parsley-container {
	float: left;
	clear: color: #ff2603;
	font-size: 12px;
	font-weight: 400;
	margin-left: 5px !important;
	margin-bottom: 15px;left;
	width: 200px;
	height: 20px;
	background-color: #dcdc67;
}

.control-group {
	margin-bottom: 0px;
}

/* ====== Pricing Tables ====== */

.ribbon {
	background: url(../img/sprite.png) no-repeat right -224px;
	width: 76px;
	height: 76px;
	position: absolute;
	margin-top: -5px;
	margin-left: -5px;
}

.ribbon-text {
	position: absolute;
	border: none;
	color: #fff;
	font-weight: 600;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	           filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	width: 76px;
	height: 76px;
	font-size: 12px;
	padding-top: 14px;
	padding-left: 16px;
}

.price-table {
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.price-table.white {
	background-color: #fff !important;
	position: relative;
}

.price-table.white ul li:nth-child(odd) {
	background-color: #fdfdfd;
}

.price-table ul li.header {
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #555;
}

.price-table a {
	margin-top: 20px;
	margin-bottom: 20px;
}

.price-table ul {
	text-align: center;
	border: 1px solid #e9e9e9;
}

.price-table ul li {
	padding: 20px;
	border-bottom: 1px solid #e9e9e9;
	font-weight: 00;
	color: #555;
	text-transform: capitalize;
}

.price-table ul li.highlight {
	background-color: #f9f9f9;
}

.price-table ul li p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-transform: none;
}

.price-table ul li.service {
	text-align: right;
}

.price-table ul li.service span {
	margin-left: 20px;
	float: right;
	width: 100px;
	text-align: left;
	margin-right: 150px;
}

.price-table ul li.price {
	font-weight: 400;
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.price-table ul li.price span {
	font-weight: 200;
	color: #c9c9c9;
}

.price-table ul li span {
	font-weight: 400;
	color: #2b3747;
}

.price-table ul li span.tip {
	font-weight: 300;
	color: #555;
	cursor: pointer;
}

.button.price-table {
	text-align: center;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	margin-bottom: -20px;
	display: block !important;
	line-height: 40px;
	font-size: 20px;
	margin-top: -2px;
}

.button.price-table.green {
	background-color: #acd90e;
}

.button.price-table.green:hover {
	background-color: #98c611;
}

.button.price-table#free {
	background-color: #e9e9e9;
	color: #aaa;
	text-shadow: none;
}

.price-table ul li.header.light {
	color: #a4a4a4;
}

.price-table ul li.expire {
	color: #fd9596 !important;
}

/* ====== Services Overview ====== */

.service-row,
.rowmarg {
	margin-top: 60px;
}

.service-row.cart-review-row {
	margin-top: 10px !important;
}

.service {
	text-align: left;
}

.service.center {
	text-align: center;
}

.service ul {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	margin-left: 0;
	margin-bottom: 30px;
}

.service ul li {
	clear: left;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: capitalize;
	color: #555;
}

#service-callout {
	background-color: #acd90e;
	color: #fff !important;
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	        border-radius: 300px;
	margin-left: auto;
	text-align: center;
	-webkit-transition:background-color .1s linear;  
	 -moz-transition:background-color .1s linear; 
	   -o-transition:background-color .1s linear;
	      transition:background-color .1s linear;
	display: block;
	margin-right: auto;
	width: 160px;
	height: 160px;
	padding: 60px;
	margin-top: 30px;
}

#service-callout:hover {
	background-color: #98c611;
}

#service-callout h2 {
	margin-bottom: 10px;
}

#service-callout p {
	color: #fff;
	margin-bottom: 10px;
	line-height: 24px;
}

.link {
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

/* ====== Feature List ====== */

.feature {
	
}

.feature h3 {
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 10px;
	margin-bottom: 0;
	color: #555;
}

.feature p {
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 30px;
}

/* ====== Service Icon ====== */

.service-icon-wrapper  {
	margin-left: 0;
	display: none;
}

.service-icon-sub {
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	        border-radius: 300px;
	float: left;
	border: 10px solid #fff;
	height: 300px;
	margin-bottom: 30px;
	margin-left: 25px;
	width: 300px;
}

/* ====== Why Us ====== */

#why-us-peeps {
	margin-bottom: -60px;
}

#common-questions {
	background: url(../img/bg-cables-2.jpg) center top repeat fixed !important;
}

#why-us-overview {
	padding-top: 80px;
	padding-bottom: 80px;
}

#uptime {
	padding-top: 80px;
	padding-bottom: 80px;
}

.separator {
	background-color: #f3f3f3;
	-webkit-border-radius: 300px;
	   -moz-border-radius: 300px;
	        border-radius: 300px;
	height: 70px;
}

/* ====== Outage ====== */

#outage {
	padding-top: 80px;
	padding-bottom: 80px;
}

#outage-img {
	height: 600px;
	background-color: #f2f2f2;
}

/* ====== Downloads ====== */

#download-box {
	
}

.download-btn {
	font-size: 24px !important;
	display: block !important;
	text-align: center;
	margin-top: 0px;
	line-height: 60px;
}

/* ====== Ticket Modal ====== */

.button.ticket {
	margin-top: 20px;
}

.parsley-error-list li {
	color: #ff2600;
	font-size: 12px;
	float: left;
	margin-bottom: 15px;
}

.parsley-error {
	border-color: #ff2600 !important;
	background-color: #fff4f5;
	color: #ff2600;
}

.custom-error-message {
	width: 100%;
	border: none !important;
	color: #ff2603;
	font-size: 12px !important;
	margin-bottom: 0 !important;
	padding: 0 0 15px 0 !important;
}

#search-result {
	display: block;
	margin-top: 30px;
	border-top: 1px solid #ececec;
	margin-bottom: 30px;
}

#search-result li {
	display: block;
	border-bottom: 1px solid #ececec;
}

#search-result li a:hover {
	background-color: #f7f7f7;
}

#search-result li a {
	display: block;
	color: #737373;
	text-decoration: none;
	font-size: 14px;
	background: url(http://www.noip.com/support/wp-content/themes/supportdesk/images/kb-small.png) no-repeat 5px center;
	padding: 15px 15px 15px 35px;
	-webkit-transition:background-color .1s ease-in;  
	   -moz-transition:background-color .1s ease-in;  
	     -o-transition:background-color .1s ease-in;  
	        transition:background-color .1s ease-in; 
}

#search-result li.nothing-here {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #ff2600;
	background-color: #fff4f5;
}

/* ====== Sitemap ====== */

#sitemap-wrap {
	margin-top: -30px;
}

#sitemap-wrap h3 {
	margin-top: 30px !important;
	margin-bottom: 30px;
}

#sitemap-wrap ul {
	
}

#sitemap-wrap ul li a {
	color: #555 !important;
	font-size: 14px;
	font-weight: 300;
}

#sitemap-wrap ul li a:hover {
	color: #26c1d0 !important;
}

/* ====== Sign In Page ====== */

#sign-in-wrap {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#sign-in-container {
	margin-bottom: 80px;
}

.oem-signin-logo {
	margin: 5px 0 15px;
}

/* ====== Domain Registration ====== */

#domreg-wrap {
	padding-top: 80px;
	padding-bottom: 80px;
}

input#domain-search {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-weight: 300;
	vertical-align: middle;
	color: #5a636c;
	float: left;
	font-size: 18px;
	padding: 12px 20px 12px 52px;
}

span.www {
	float: left;
	position: relative;
	z-index: 137;
	color: #ddd;
	margin-right: -50px;
	left: 10px;
	top: 13px;
	font-size: 18px;
}

.domreg-btn {
	font-size: 20px !important;
	text-align: center;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
}

#dom-search-results-wrapper label {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	background-color: #f9f9f9;
}

#dom-search-results-wrapper label input {
	margin-top: -5px;
	margin-right: 5px;
}

#dom-search-results-wrapper ul {
	margin-bottom: 30px;
}

#dom-search-results-wrapper ul li {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	margin-left: 0 !important;
}

#dom-suggestions {
	display: inline-block;
}

#dom-available label {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

label.with-plus {
	background-color: #26c1d0 !important;
	color: #fff !important;
}

/* ====== Host Activate ====== */

#recaptcha_block {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
}
#recaptcha_image {
	float: right;
	height:95px !important;
}

#recaptcha_controls {
	font-size: 12px;
	width:128px;
	float:left;
	color: #2C3034;
	margin-left: 0;
}

#recaptcha_controls a {
	color: #26c1d0;
}

#recaptcha_controls a:hover {
	color: #acd90e;
}

#recaptcha_controls p {
	padding:0;
}

#recaptcha_controls ul {
	list-style:none;
}

#recaptcha_powered {
	font-size:9px;
}

/* ====== / Domain Registration ====== */

/* ====== Select Box Styles ====== */

#select-box-newuser {
	right: 3px;
}

#select-box-wrap {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #f1f1f1;
	position: relative;
	display: inline-block;
	padding-left: 5px;
}

.select-box-domreg {
	margin-left: -78px;
	margin-top: 4px;
}

.select-box-domreg-footer {
	float: right;
	margin-top: -59px;
	margin-right: 3px;
}

.select-box-enhanced-cart {
	width: 228px;
	padding: 5px 0;
}

#enhanced-tiers {
	width: 223px;
	outline: none !important;
	padding: 5px !important;
}

#domain-search-sel,
#enhanced-tiers {
	-webkit-appearance: none;
	   -moz-appearance: none;
	background: transparent !important;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

/* ====== Modal Misc ====== */

.done {
	color: #ddd;
	text-decoration: line-through;
}

.modal-list {
	margin-top: -1px;
}

.modal-list li span {
	clear: left;
	font-size: 12px;
	display: block;
}

.modal-list li a {
	font-weight: 400;
	font-size: 14px;
}

#host-create-modal-body {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
}

::-moz-placeholder {
	padding-top: 10px;
}

:-ms-input-placeholder {
	padding-top: 10px;
}

input:-moz-placeholder {
	padding-top: 10px;
}

/* ====== Bitcoin Page ====== */

.bitcoin-converter {
	
}

#bitcoin-converter-wrap {
	background-color: #ffffff;
}

.bitcoin-converter input {
	background: none !important;
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	font-size: 70px;
	font-weight: 200;
	padding: 0;
}

.bitcoin-converter input.smalltext {
	font-size: 30px;
}

.bitcoin-converter #usd {
	color: #acd90e;
	padding-left: 15px;
}

#dollar-sign {
	color: #ddd;
	font-size: 30px;
	font-weight: 200;
	margin-bottom: -90px;
	position: relative;
	top: -1px;
}

#equals-sign {
	color: #ddd;
	font-size: 30px;
	margin-bottom: -100px;
	position: relative;
	top: -60px;
}

.info {
	color: #bbb;
	font-size: 12px;
	margin: -10px 0;
}

input#usd:-moz-placeholder {
  color: #acd90e;
}

input#usd:-ms-input-placeholder {
  color: #acd90e !important;
}

input#usd::-webkit-input-placeholder {
  color: #acd90e;
}

#payment-address {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #f9f9f9;
	border: 1px solid #eaeaea;
	padding: 30px;
}

h4.conversion-step {
	margin-top: -30px !important;
	padding-bottom: 30px !important;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ====== Accordion ====== */

.accordion-toggle,
.accordion-inner {
	background-color: #fff;
}

/* ====== / Accordion ====== */