<div id="content" class="content animate-panel container-fluid">
    <div id="gridPanel" class="row animated zoomIn">
        <div class="col-md-12">
            <button (click)="getSelectedRows()">Get Selected Rows</button>

            <div #productGrid id="productGrid">
                <ag-grid-angular
                    #userListGrid
                    style="width: 1000px; height: 500px;" 
                    class="ag-theme-alpine" 
                    [rowData]="data | async"
                    [columnDefs]="columnDefs"
                    [getContextMenuItems]="getContextMenuItems"
                    rowSelection="multiple"
                    >
                </ag-grid-angular>

            </div>
        </div>
    </div>
    <p>
        <div id="thumbnailsPanel" class="row">
            <div class="col-md-12">
                <div #links id="links"></div>
            </div>
        </div>
        <!-- <div th:if="${CONTEXT_PROD_LIST_GRID} != null" id="gridContextMenu">
            <ul>
                <li th:each="item : ${CONTEXT_PROD_LIST_GRID.items}" th:id="${item.code}" >
                    <span th:text="${item.text}" th:remove="tag"/> 
                    <ul th:if="${!item.subitems.isEmpty()}" >
                        <li th:each="subitem : ${item.subitems}" th:id="${subitem.code}" th:text="${subitem.text}"/>
                    </ul>
                </li>
            </ul>
        </div> -->
        <!-- <div th:unless="${CONTEXT_PROD_LIST_GRID} != null" id="gridContextMenu">
            
        </div> -->
</div>