<!DOCTYPE html>
<html 
	lang="es" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Sistema de Gestión de Stock" />
	<meta name="author" content="Emiliano Schiano di Cola" />

	<title th:text="#{app.name}" text="Proeza SGS" />

	<!-- jQuery -->
	<!-- 
	        En general los JS files son importados al pie para hacer la carga de la pagina más rapida. 
	        Como excepcion, la libreria JQuery es importada en la cabecera debido al modelo de plantilla 
	        que utiliza la aplicacion a traves de Thymeleaf. 
	        En caso de que paginas "contenido" que sean inyectadas dentro de este layout general tengan 
	        codigo javascript embebido que necesiten de la libreria, si esta fuera importada al pie 
	        fallaría la ejecucion.  
	-->
	<script src="../../resources/jquery/jquery.js" th:src="@{/resources/jquery/jquery.js}" />
	
	<!-- Bootstrap Core CSS -->
	<link href="../../resources/bootstrap/css/bootstrap.css" th:href="@{/resources/bootstrap/css/bootstrap.css}" rel="stylesheet" />
	
	<!-- MetisMenu CSS -->
	<link href="../../resources/metismenu/css/metisMenu.css" th:href="@{/resources/metismenu/css/metisMenu.css}" rel="stylesheet" />
	
	<!-- Timeline CSS -->
	<link href="../../resources/app/css/timeline.css" th:href="@{/resources/app/css/timeline.css}" rel="stylesheet" />
	
	<!-- Animate CSS -->
	<link href="../../resources/animate/css/animate.css" th:href="@{/resources/animate/css/animate.css}" rel="stylesheet" />
	
	<!-- Custom CSS -->
	<link href="../../resources/app/css/proeza-sgs.css" th:href="@{/resources/app/css/proeza-sgs.css}" rel="stylesheet" />
	
	<!-- Custom Fonts -->
	<link href="../../resources/font-awesome/css/font-awesome.css" th:href="@{/resources/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
	
	<link rel="shortcut icon" href="../../resources/app/img/favicon.ico" th:href="@{/resources/app/img/favicon.ico}" />

	<!-- Galeria de imagenes -->	
	<link rel="stylesheet" href="../../../resources/gallery/css/blueimp-gallery.css" th:href="@{/resources/gallery/css/blueimp-gallery.css}" />
	<link rel="stylesheet" href="../../../resources/gallery/css/blueimp-gallery-indicator.css" th:href="@{/resources/gallery/css/blueimp-gallery-indicator.css}" />
</head>

<body>

	<div id="blueimp-gallery" class="blueimp-gallery">
	    <!-- The container for the modal slides -->
	    <div class="slides"/>
	    <!-- Controls for the borderless lightbox -->
	    <h3 class="title"/>
	    <a class="prev">&lsaquo;</a><!-- Single left side angle quotation (U+2039) -->
	    <a class="next">&rsaquo;</a><!-- Single right side angle quotation (U+203a) -->
	    <a class="close">×</a>
	    <a class="play-pause"/>
	    <ol class="indicator"></ol>
	</div>
	
	<!-- Simple splash screen-->
	<div class="splash"> 
		<div class="color-line"></div>
		<div class="splash-title">
			<h1>Proeza - Sistema de Gestíon de Stock</h1>
			<p>Sistema de administración de recursos empresariales</p>
			<img th:src="@{/resources/app/img/loading-bars.svg}" width="64" height="64" /> 
		</div> 
	</div>
	
	<nav id="header" role="navigation" >
		<div class="color-line"/>
		<a id="logo" class="light-version" href="#" th:href="@{/home}">
			<div>
				<img src="../../resources/app/img/logo20x.png" th:src="@{/resources/app/img/logo20x.png}" /> 
				<span th:text="#{app.name}" />
			</div>
		</a>
       	<div class="header-link hide-menu">
       		<i class="fa fa-bars"></i>
       	</div>
       	<div class="navbar-form-custom">
			<input id="filter" type="text" th:placeholder="#{control.search}" placeholder="Buscar..." class="form-control" name="search" />
       	</div>
		<div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="button">
                	<a id="eraser" class="dropdown-toggle" data-toggle="button">
                		<i class="fa fa-eraser" />
					</a>
				</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="fa fa-bullhorn"></i>
                    </a>
                    <ul class="dropdown-menu hdropdown notification animated flipInX">
                        <li>
                            <a>
                                <span class="label label-success">NEW</span> It is a long established.
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="label label-warning">WAR</span> There are many variations.
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="label label-danger">ERR</span> Contrary to popular belief.
                            </a>
                        </li>
                        <li class="summary"><a href="#">See all notifications</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-success">3</span>
                    </a>
                    <ul class="dropdown-menu hdropdown animated flipInX">
                        <div class="title">
                            You have 4 new messages
                        </div>
                        <li>
                            <a>
                                It is a long established.
                            </a>
                        </li>
                        <li>
                            <a>
                                There are many variations.
                            </a>
                        </li>
                        <li>
                            <a>
                                Lorem Ipsum is simply dummy.
                            </a>
                        </li>
                        <li>
                            <a>
                                Contrary to popular belief.
                            </a>
                        </li>
                        <li class="summary">
                        	<a href="#">
                        		<span>See All Messages</span>
                        	</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                	<a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown"> 
                		<i class="fa fa-user fa-fw"></i> 
                		<i class="fa fa-caret-down"></i>
					</a>
					<ul sec:authorize="isAnonymous()" class="dropdown-menu hdropdown animated flipInX">
						<li>
							<a href="#" th:href="@{/login}" th:text="#{control.login}">
								<i class="fa fa-sign-in fa-fw"></i>Ingresar
							</a>
						</li>
						<li>
							<a href="#" th:href="@{/register}" th:text="#{control.register}">
								<i class="fa fa-user fa-fw"></i>Registrarse
							</a>
						</li>
					</ul>
					<ul sec:authorize="isAuthenticated()" class="dropdown-menu hdropdown animated flipInX">
						<div class="title">
                            <a href="#" sec:authentication="name">Usuario</a>
                        </div>
						<li>
							<a href="#" th:href="@{/profile}" th:text="#{control.profile}">
								<i class="fa fa-user fa-fw"></i>Perfil
							</a>
						</li>
						<li>
							<a href="#" th:href="@{/doLogout}" th:text="#{control.logout}">
								<i class="fa fa-sign-out fa-fw"></i>Salir
							</a>
						</li>
					</ul>
				</li>
            </ul>
       	</div>
	</nav>
    <aside id="menu">
    	 <div id="navigation">
    	 	<ul class="nav" id="side-menu">
			    <li th:each="item : ${SIDE_MENU_LEFT.items}">
			    	<a href="#" th:href="@{${item.href}}"> 
				    	<i class="fa fa-info" th:class="${item.icon}" /> 
				    	<span th:text="${item.text}" /> 
				    	<span th:if="${!item.subitems.isEmpty()}" class="fa arrow"></span>
					</a>
					<ul th:if="${!item.subitems.isEmpty()}" class="nav nav-second-level">
						<li class="nav nav-second-level" th:each="subitem : ${item.subitems}">
							<a href="#" th:href="@{${subitem.href}}" th:text="${subitem.text}" />
						</li>
					</ul>
				</li>
				<li sec:authorize="isAnonymous()">
					<a href="#" th:href="@{/login}"> 
						<i class="fa fa-sign-in" /> 
						<span th:text="#{menu.login}" />
					</a>
				</li>
				<li sec:authorize="isAnonymous()">
					<a href="#" th:href="@{/register}"> 
						<i class="fa fa-user" /> 
						<span th:text="#{menu.register}" />
					</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a href="#" th:href="@{/doLogout}"> 
						<i class="fa fa-sign-out" /> 
						<span th:text="#{menu.logout}" />
					</a>
				</li>
			</ul>
		</div>
	</aside>
	<div id="wrapper">
		<div class="content">
			<div class="row">
				<div class="col-lg-12 text-center">
					<span class="pageTitle" th:text="${pageTitle}" />
					<span class="pageTitle" th:if="${not pageSubtitle.isEmpty()}">:</span>
					<span class="pageSubtitle" th:text="${pageSubtitle}" />
				</div>
			</div>
			<p/><p/>
			<div class="row">
				<div id="content" layout:fragment="contenido">Contenido</div>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="../../resources/bootstrap/js/bootstrap.js" th:src="@{/resources/bootstrap/js/bootstrap.js}" />

	<!-- Metis Menu Plugin JavaScript -->
	<script type="text/javascript" src="../../resources/metismenu/js/metisMenu.js" th:src="@{/resources/metismenu/js/metisMenu.js}" />

    <!-- iCheck JavaScript -->
    <script type="text/javascript" src="../../resources/icheck/icheck.js" th:src="@{/resources/icheck/icheck.js}"/>
	    
	<!-- Custom Theme JavaScript -->
	<script type="text/javascript" src="../../resources/app/js/proeza-sgs.js" th:src="@{/resources/app/js/proeza-sgs.js}" />
</body>
</html>