<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta -->
<script type="text/javascript">
	var NREUMQ = NREUMQ || [];
	NREUMQ.push([ "mark", "firstbyte", new Date().getTime() ]);
</script>
<title th:text="#{presentation.title.1}">Analisis de Social Media</title>
<meta name="language" content="English" />
<meta charset="UTF-8" />
<meta http-equiv="Description"
	content="Free Dynamic DNS and Managed DNS Provider trusted since 1999 with 100% uptime history. Our Free DDNS service points your dynamic IP to a free static hostname. Create a free account today!
" />
<meta http-equiv="Keywords"
	content="dynamic dns,free dns, dns, network services, ddns, domain registration, domain names, web redirection, url redirection, dns administration, windows dynamic dns, mac dynamic dns, dns admin
" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
<meta name="google-site-verification" content="d6ZuhcRwmTne8zgIB3C_bEqKNGQ-GlITAuRmJN_PPe8" />

<!-- Stylesheets -->
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/bootstrap.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/bootstrap-responsive.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/common.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/sub.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/icons.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/entypo-codes.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/entypo-embedded.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/normalize.css}" />
<link type="textcss" rel="stylesheet" th:href="@{/resources/presentacion/css/home.css}" />

<!--[if IE]>
<script src="/assetsjs/respond.min.js"></script>
<link href="/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="/assetsimg/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
<script src="/assetsjs/respond.proxy.js"></script>
<![endif]-->

<!-- Modernizr Script -->
<script type="text/javascript" th:src="@{/resources/presentacion/js/modernizr.custom.js}"></script>

<!-- Webmaster Tracking -->
<!-- 
<meta name="verify-v1" content="Evj0S/5nXT8im6UiONhxHRe47Lc9F1K9D19/Qtx5/a4=" />
 -->
<!-- Bing Tracking -->
<!-- 
<meta name="msvalidate.01" content="3293A604B63B22FA33ACD8EB379EECEF" />
 -->
<!-- GOOGLE Tracking -->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-31174-1' ]);
	_gaq.push([ '_trackPageview' ]);
	(function() {
		var ga = document.createElement('script');
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		ga.setAttribute('async', 'true');
		document.documentElement.firstChild.appendChild(ga);
	})();
</script>
<!-- GOOGLE TRANSLATE -->
<meta name="google-translate-customization" content="68d99b5dd94adcf8-8ed988bda350a97e-ge4215c1cbcd796f0-d" />
</head>
<body>

	<!-- Google Tag Manager -->
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-KVN5KG" height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<!-- 
	<script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start' : new Date().getTime(),
				event : 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l='
					+ l
					: '';
			j.async = true;
			j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KVN5KG');
	</script>
	 -->
	<!-- End Google Tag Manager -->

	<!-- Way Header ================================================== -->
	<section id="way-header-wrap" class="way-header way-header-hide">
		<div class="container">
			<nav id="way-nav" class="clearfix">
				<a href="/managed-dns/" th:text="#{presentation.menuitem.1}">Análisis</a> <a href="/managed-mail/" th:text="#{presentation.menuitem.2}">Mail</a>
				<a href="/domains/" th:text="#{presentation.menuitem.3}">Domains</a> <a href="/why-us/" th:text="#{presentation.menuitem.4}">Why Us?</a>
				<a href="/support/" th:text="#{presentation.menuitem.5}">Support</a>
				<!-- 
				<a class="signup cart" href="#cartModal" rel="nofollow" role="button" data-toggle="modal" onClick="_gaq.push(['_trackEvent', 'way-navigation', 'click', 'cart']);">
					<i class="pull-left icon-basket-alt"></i>Cart
					<span class="badge-cart-items">0</span>
				</a> 
				 -->
				<a class="signup" href="/sign-up" onClick="_gaq.push(['_trackEvent', 'way-navigation', 'click', 'sign-up']);"
					th:text="#{presentation.menuitem.6}">Sign Up</a>
				<!-- Logo -->
				<a id="logo" class="grey way-logo" href="/" title="No-IP - Managed DNS Service Provider"></a>
			</nav>
		</div>
	</section>
	<!-- / Way Header -->

	<!-- Header ================================================== -->
	<header id="header" class="clearfix">
		<!-- TopNav ================================================== -->
		<section id="top-nav-wrap">
			<div class="container clearfix">
				<ul id="topnav" class="fltright">
					<!-- 
					<li><a class="outline" href="#cartModal" rel="nofollow" role="button" data-toggle="modal"
						onClick="_gaq.push(['_trackEvent', 'top-nav', 'click', 'cart']);"><i class="pull-left icon-basket-alt"></i>Cart <span
							class="badge-cart-items">0</span></a></li>
					 -->
					<li><a class="outline" href="#loginModal" rel="nofollow" role="button" data-toggle="modal"
						onClick="_gaq.push(['_trackEvent', 'top-nav', 'click', 'sign-in']);" th:text="#{presentation.menuitem.7}">Sign In</a></li>
					<li><a href="/contact/" th:text="#{presentation.menuitem.5}">Contact</a></li>
					<li><a href="/blog/" th:text="#{presentation.menuitem.4}">Blog</a></li>
					<li><a href="/download/" th:text="#{presentation.menuitem.3}">Download</a></li>
				</ul>
				<nav id="top-nav-mini" class="clearfix">
					<a id="logo-mini" class="pull-left" href="/" title="No-IP - Managed DNS Service Provider"></a> <a id="nav-button"
						class="mini pull-right"><i class="icon-menu"></i></a> <a id="nav-button" class="mini btn" href="/login"
						onClick="_gaq.push(['_trackEvent', 'mobile-top-nav', 'click', 'sign-in']);">Sign In</a> <a id="nav-button" class="mini btn green"
						href="/sign-up/" onClick="_gaq.push(['_trackEvent', 'mobile-top-nav', 'click', 'sign-up']);">Sign Up</a>
				</nav>
				<!-- 
				<h1 class="top">
					<span>Social</span> Media Services
				</h1>
				 -->
			</div>
		</section>
		<!-- / TopNav -->

		<!-- Navigation -->
		<section id="navigation" class="clearfix">
			<div class="container">
				<nav id="nav" class="mini-nav">
					<a class="signup home" href="/sign-up" onClick="_gaq.push(['_trackEvent', 'navigation', 'click', 'sign-up']);"
						th:text="#{presentation.menuitem.6}">Sign Up</a> <a href="/support/" th:text="#{presentation.menuitem.5}">Support</a> <a
						href="/why-us/" th:text="#{presentation.menuitem.4}">Why Us?</a> <a href="/domains/" th:text="#{presentation.menuitem.3}">Domains</a>
					<a href="/managed-mail/" th:text="#{presentation.menuitem.2}">Mail</a> <a href="/managed-dns/" th:text="#{presentation.menuitem.1}">DNS</a>
				</nav>
				<!-- Logo -->
				<a id="logo" class="grey home" href="/" title="No-IP - Managed DNS Service Provider"></a>
			</div>
		</section>
		<!-- / Navigation -->

		<!-- Slider -->
		<section id="slider">
			<div class="container">
				<!-- Slide -->
				<div class="slide row" style="opacity: 1;">
					<div id="message-wrapper" class="span12 clearfix">
						<div class="message">
							<h1 th:text="#{presentation.title.1}">Análisis de Social Media</h1>
							<h2 th:text="#{presentation.title.2}">Obtenga toda la información de las redes sociales que su negocio necesita</h2>
							<!-- 
							<a class="button big" data-product="account.enhanced" href="#" onClick="_gaq.push(['_trackEvent', 'slider', 'click', 'enhance-dns']);">Enhance
								My DNS Now</a>
							 -->
							<a class="button big border" href="/repararlink" onClick="_gaq.push(['_trackEvent', 'slider', 'click', 'learn-more-enhanced']);"
								th:text="#{common.learn.more}">Más info.</a>
						</div>
					</div>
				</div>
				<!-- / Slide -->
			</div>
		</section>
		<!-- / Slider -->
	</header>
	<!-- / Header -->

	<!-- Content ================================================== -->
	<section id="content" class="waypoint" data-animate-down="way-header-shrink" data-animate-up="way-header-hide">
		<!-- 
		<section id="tiny-callout-wrapper" class="whitewrap">
			<div id="freedns-callout" class="container">
				<div class="row">
					<div class="span6">
						<span class="callout-flag pull-left"><img width="32px" th:src="@{/resources/presentacion/img/AR.png}"
							alt="Now accepting regional payments in argentina" /></span>
						<p class="nomarg">
							<strong>Now Accepting</strong> Regional Payments
						</p>
					</div>
					<div class="span6">
						<div class="pull-right">
							<span class="bank-icon pull-right"><img width="40px" th:src="@{/resources/presentacion/img/santander.png}" alt="santander" /></span> <span
								class="bank-icon pull-right"><img width="40px" th:src="@{/resources/presentacion/img/cobro.png}" alt="cobro express" /></span> <span
								class="bank-icon pull-right"><img width="40px" th:src="@{/resources/presentacion/img/dineromail.png}" alt="dinero mail" /></span>
						</div>
					</div>
				</div>
			</div>
		</section>
		 -->
		<!-- / Callout -->

		<!-- Anycast Network ================================================== -->
		<!--
		<section id="features-wrapper" class="greywrap">
			<div id="users-callout" class="container center">
				<div class="row message">
					<article class="span8 offset2">
						<h4>
							<i class="icon-network-1"></i>
						</h4>
						<h4>What makes us different?</h4>
						<h2>17 points of presence across the globe</h2>
						<p class="nomarg">From small business to Fortune 500 companies, No-IP Managed DNS has you covered. Our anycast network, with 17 points
							of presence across the globe, ensures that your website is fast and always available, no matter what.</p>
					</article>
				</div>
			</div>
			<div id="popmap" class="center-img">
				<img th:src="@{/resources/presentacion/img/map-17.jpg}" />
			</div>
		</section>
		 -->
		<!-- / Anycast Network -->

		<!-- What is DNS ================================================== -->
		<section id="network" class="whitewrap">
			<div class="container">
				<article id="anycast" class="row stagger">
					<div id="dns" class="span6">
						<img class="lazy" th:src="@{/resources/presentacion/img/dns@2x.png}" />
						<!-- 
						th:src="@{/resources/presentacion/img/lazy.gif}"
						data-original="img/dns@2x.png}" /> 
						<noscript>
							<img th:src="@{/resources/presentacion/img/dns@2x.png}" />
						</noscript>
						 -->
					</div>
					<div class="span5 offset1 valign">
						<h4 th:text="#{presentation.app.whatis}">¿Qué es QSocial?</h4>
						<p class="nomarg" th:text="#{presentation.app.desc}">QSocial es una herramienta web que te permite analizar datos obtenidos de
							las diferentes redes sociales. Con ella podés saber fácilmente la tendencía e influencia de tus canales en la web social.</p>
					</div>
				</article>
			</div>
		</section>

		<section id="" class="greywrap">
			<div class="container">
				<article id="users" class="row stagger">
					<div id="ddns" class="span6 offset1 pull-right">
						<img class="lazy" th:src="@{/resources/presentacion/img/excel-online.png}" />
						<!-- 
						th:src="@{/resources/presentacion/img/lazy.gif}" 
						data-original="img/ddns@2x.png}" />
						<noscript>
							<img th:src="@{/resources/presentacion/img/ddns@2x.png}" />
						</noscript>
						 -->
					</div>
					<div class="span5">
						<h4 th:text="#{presentation.app.services}">¿Qué servicios presta?</h4>
						<p class="nomarg" th:text="#{presentation.app.services.desc}">
							QSocial presta diferentes tipos de servicio en diferentes redes sociales. <a th:text="#{presentation.report.web}">Reportes Web</a><br />
							<a th:text="#{presentation.report.excel}">Reportes Excel</a><br /> <a th:text="#{presentation.report.pdf}">Reportes PDF</a><br /> <a
								class="blue" href="/repararlink">Ver ejemplo</a>
						</p>
					</div>
				</article>
			</div>
		</section>
		<!-- / What is DNS -->

		<!-- Callout Free Sign Up ================================================== -->
		<!-- 
		<section id="free-callout-wrapper" class="whitewrap">
			<div id="freedns-callout" class="container">
				<div class="row">
					<div class="span9">
						<h2>
							<strong>Free Dynamic DNS</strong> ? Sign up now, no credit card required!
						</h2>
						<p class="nomarg">When we say free, we actually mean free - no credit card required, ever. Our free dynamic DNS is so awesome that over
							18 million people in every single country worldwide trust it and use it everyday.</p>
					</div>
					<div id="callout-button" class="span3 pull-right">
						<a class="button green calloutbtn pull-left" href="/sign-up" onClick="_gaq.push(['_trackEvent', 'footer-callouts', 'click', 'free']);">Sign
							Up Now</a>
					</div>
				</div>
			</div>
		</section>
		 -->
		<!-- / Callout -->

		<!-- Snotty Ron ================================================== -->
		<section id="snotty-ron" class="section-wrap">
			<div class="container">
				<article class="row">
					<div class="span5">
						<h4>Not Everything Free is Good</h4>
						<h2 class="white">Have you checked out our awesome commercials?</h2>
						<p class="grey">Take a few moments to meet Snotty Ron and the rest of the gang in these fun commercials that illustrate why free
							things aren't always good. Our free dynamic DNS is used by over 18 million users worldwide for a reason. Ready to give it a try?
							Create your free account now to use yourname.no-ip.info instead of a hard to remember IP address or URL to access your computer
							remotely.</p>
						<p>
							<a href="{$URL.SIGNUP}" class="button small bordered"
								onClick="_gaq.push(['_trackEvent', 'home-page', 'click', 'snotty-ron-signup']);">Sign Up For Free Now</a>
							<!-- 
								<a href="http://www.youtube.com/watch?v=qAQNO1H3kwc&feature=c4-overview-vl&list=PLwRiStZ9OA_lm6QOsS5QTew8calu9iNVv"
								target="_blank" class="button small bordered grey" onClick="_gaq.push(['_trackEvent', 'home-page', 'click', 'snotty-ron-other-vids']);">Watch
								Our Other Videos</a>
								 -->
						</p>
					</div>
					<div id="video-container" class="span6 offset1">
						<p class="nomarg clearfix">
							<!-- 
							 <iframe width="640" height="320" id="responsive-vid" class="pull-right"
								src="//www.youtube.com/embed/iAaHVlaO_Ao?rel=0&autohide=1&showinfo=0&wmode=Opaque&wmode=transparent" frameborder="0" allowfullscreen></iframe>
							 -->
						</p>
					</div>
				</article>
			</div>
		</section>
		<!-- / Snotty Ron -->

		<!-- Callout Free Sign Up ================================================== -->
		<section id="small-callout-wrapper" class="greywrap">
			<div class="container">
				<div class="row">
					<div class="span9">
						<h3 class="halfmarg-bot">Convert Your Bitcoins Into No-IP Credit</h3>
						<p class="nomarg">
							No-IP now accepts Bitcoin digital currency which means you are able to pay for all of your favorite No-IP services with Bitcoins! <a
								href="/bitcoin" onClick="_gaq.push(['_trackEvent', 'footer-callouts', 'click', 'bitcoin-learn-more']);">Learn More</a>
						</p>
					</div>
					<div id="callout-button" class="span3 pull-right">
						<a href="/bitcoin" onClick="_gaq.push(['_trackEvent', 'footer-callouts', 'click', 'bitcoin-logo']);"> <img id="bitcoin-logo"
							class="pull-left" th:src="@{/resources/presentacion/img/bitcoin-logo.png}" width="200" />
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- / Callout -->
	</section>
	<!-- / Content -->

	<!-- Footer ================================================== -->
	<footer id="footer">
		<!-- Sitemap -->
		<section id="sitemap" class="container">
			<div class="row">
				<ul class="sitemap span2">
					<li class="header" th:text="#{common.servicies}">Servicios</li>
					<li><a href="/repararlink" th:text="#{common.linkedin}">Linked In</a></li>
					<li><a href="/repararlink" th:text="#{common.facebook}">Facebook</a></li>
					<li><a href="/repararlink" th:text="#{common.twitter}">Twitter</a></li>
					<li><a href="/repararlink" th:text="#{common.googleplus}">Google+</a></li>
					<li><a href="/repararlink" th:text="#{common.pinterest}">Pinterest</a></li>
				</ul>
				<ul class="sitemap span2">
					<li class="header">Support</li>
					<li><a href="/repararlink" rel="nofollow">Knowledgebase</a></li>
					<li><a href="/repararlink">Getting Started</a></li>
					<li><a href="/repararlink">FAQ's</a></li>
					<li><a href="/repararlink">Downloads</a></li>
					<li><a href="/repararlink">Contact Us</a></li>
				</ul>
				<ul class="sitemap span2">
					<li class="header">Company</li>
					<li><a href="/about">About No-IP</a></li>
					<li><a href="/what-is-dns">What is DNS?</a></li>
					<li><a href="/careers">Careers</a></li>
					<li><a href="/partners">OEM Partners</a></li>
					<li><a href="/integrate">Integrate</a></li>
					<li><a href="/site-map">Site Map</a></li>

				</ul>
				<ul class="sitemap span3">
					<li class="header">Stay Connected</li>
					<li><a href="{$URL.BLOG_INDEX}">Blog Posts &amp; News</a></li>
					<li><a href="http://feeds.feedburner.com/No-ip-TheDnsServiceProvider" target="_blank">RSS Feed</a></li>
					<!-- Social Links -->
					<li id="social-links">
						<!-- facebook -->
						<div id="fb-root"></div> <script>
							(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id))
									return;
								js = d.createElement(s);
								js.id = id;
								js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						</script>
						<div class="fb-like" data-href="http://www.facebook.com/rapararlink" data-send="false" data-layout="button_count" data-width="100"
							data-show-faces="false" onClick="_gaq.push(['_trackEvent', 'downloads-page', 'follow-modal', 'facebook']);"></div> <!-- +1 -->
						<div id="gplus" class="g-plusone" data-size="medium"></div> <script type="text/javascript">
							(function() {
								var po = document.createElement('script');
								po.type = 'text/javascript';
								po.async = true;
								po.src = 'https://apis.google.comjs/plusone.js';
								var s = document.getElementsByTagName('script')[0];
								s.parentNode.insertBefore(po, s);
							})();
						</script> <!-- Twitter --> <a href="http://twitter.com/rapararlink" class="twitter-follow-button" data-dnt="true" data-show-screen-name="false"
						onClick="_gaq.push(['_trackEvent', 'downloads-page', 'follow-modal', 'twitter']);">Follow No-IP</a> <script>
							!function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = "//platform.twitter.com/widgets.js";
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, "script", "twitter-wjs");
						</script>
					</li>
					<!-- / Social Links -->
					<li id="social-icons" class="clearfix"><a id="facebook-icon" class="social-icon clearfix" href="http://www.facebook.com/noipdns"
						target="_blank"></a> <a id="twitter-icon" class="social-icon clearfix" href="http://www.twitter.com/noipcom" target="_blank"></a> <a
						id="gplus-icon" class="social-icon clearfix" href="https://plus.google.com/116722693345711288337/posts" target="_blank"></a> <a
						id="youtube-icon" class="social-icon clearfix" href="http://www.youtube.com/noipDDNS" target="_blank"></a></li>
				</ul>
				<ul id="footer-domsearch" class="sitemap span3">
					<li class="header blue">Register Your Domain</li>
					<li class="para">Use the search box below to find the perfect domain.</li>
					<li class="newsletter-form">
						<form id="domreg-footer" class="row-fluid" method="post" action="/domains">
							<div class="controls controls-row">
								<input id="domreg-footer" class="span12" type="text" name="domain" placeholder="yoursite" />
								<div id="select-box-wrap" class="select-box-domreg-footer">
									<select class="domain-search-sel" id="domain-search-sel" name="tld"><optgroup label="0">
											<option value="com">.com</option>
											<option value="net">.net</option>
											<option value="org">.org</option>
											<option value="biz">.biz</option>
											<option value="info">.info</option>
											<option value="tv">.tv</option>
											<option value="cc">.cc</option>
											<option value="ws">.ws</option>
											<option value="us">.us</option>
											<option value="mobi">.mobi</option>
											<option value="me">.me</option>
											<option value="co">.co</option>
										</optgroup></select> <i class="icon-down-open-big"></i>
								</div>
								<button class="button small" onClick="_gaq.push(['_trackEvent', 'footer', 'click', 'dom-reg-search']);">Search</button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</section>
		<!-- / Sitemap -->
		<!-- Copyright -->
		<section id="copyright" class="container">
			<div class="row">
				<p class="span9">
					&copy;1999-2014 &bull; No-IP.com &bull; All Rights Reserved. <a href="/legal/privacy">Privacy Policy</a> &bull; <a href="/legal/tos">Fine
						Print</a>
				</p>
				<div class="span3 pull-right">
					<a href="/" id="logo-footer"></a>
					<!-- GOOGLE TRANSLATE -->
					<span id="google_translate_element" class="pull-right common"
						onClick="_gaq.push(['_trackEvent', 'footer', 'click', 'google-translate']);"></span>
					<script type="text/javascript">
						function googleTranslateElementInit() {
							new google.translate.TranslateElement(
									{
										pageLanguage : 'en',
										layout : google.translate.TranslateElement.InlineLayout.SIMPLE,
										gaTrack : true,
										gaId : 'UA-31174-1'
									}, 'google_translate_element');
						}
					</script>
					<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					<!-- / GOOGLE TRANSLATE -->
				</div>
			</div>
		</section>
		<!-- / Copyright -->
	</footer>
	<!-- / Footer -->

	<!-- Cart Modal ================================================== -->
	<div id="cartModal" class="modal hide fade container-fluid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<button type="button" class="close close-cart" data-dismiss="modal" aria-hidden="true">?</button>
		<div id="cart-modal" class="row-fluid clearfix"></div>
	</div>
	<!-- / Cart Modal -->

	<!-- Sign In Modal -->
	<section id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Sign-In" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
			<h3 id="myModalLabel">Sign In To Your Account</h3>
		</div>
		<div id="signin" class="modal-body">
			<form class="row-fluid" action="https://www.noip.com/login" method="post">
				<input class="span12" type="text" name="username" placeholder="Username or Email" autofocus="autofocus" /> <input class="span12"
					type="password" name="password" placeholder="Password" /> <input type="hidden" name="submit_login_page" value="1" /> <input
					type="hidden" name="Login" value="1" />
				<button type="submit" class="button pull-right">Sign In</button>
				<a class="login-link" href="#forgotpwModal" rel="nofollow" role="button" data-dismiss="modal" data-toggle="modal">Forgot Password?</a> <a
					class="login-link" href="http://www.noip.com/sign-up">Create an Account</a>
			</form>
		</div>
	</section>
	<!-- / Sign In Modal -->

	<!-- Forgot Password Modal -->
	<section id="forgotpwModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Forgot-Password" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
			<h3 id="myModalLabel">Resetting Your Password</h3>
		</div>
		<div id="signin" class="modal-body">
			<p>
				<small>Just enter the email address that you created your no-ip.com account with and an email will be sent to that address
					containing a link to reset your password.</small>
			</p>
			<p>
				<small><strong>Note:</strong> Changing your No-IP account password will effect any running update clients except for the new 3.x
					version of the Windows client.</small>
			</p>
			<form class="row-fluid" action="https://www.noip.com/forgot-password" method="post">
				<input class="span8" type="text" name="username" placeholder="Email Address" /> <input type="hidden" name="Login" value="1" /> <input
					type="hidden" name="submit" value="submit" />
				<button class="nomarg span4 button pull-right" type="submit" name="Login">Reset Password</button>
			</form>
		</div>
	</section>
	<!-- / Forgot Password Modal -->

	<!-- Scripts ================================================== -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Google Code for All Visitors to Site Remarketing List -->
	<script type="text/javascript">
		/* _$tag____ */
		var google_conversion_id = 1072685640;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "cL1PCIftvAMQyMS__wM";
		var google_conversion_value = 0;
		/* _$t */
	</script>
	<noscript>
		<div style="display: inline;">
			<img height="1" width="1" style="border-style: none;" alt=""
				src="//www.googleadservices.com/pagead/conversion/1072685640/?label=cL1PCIftvAMQyMS__wM&amp;guid=ON&amp;script=0" />
		</div>
	</noscript>

	<script th:src="@{/resources/presentacion/js/jquery.min.js}" />
	<script th:src="@{/resources/presentacion/js/jquery-ui.min.js}" />
	<script th:src="@{/resources/presentacion/js/plugins.js}" />
	<script th:src="@{/resources/presentacion/js/bootstrap.min.js}" />
	<script th:src="@{/resources/presentacion/js/parsley.js}" />
	<script th:src="@{/resources/presentacion/js/cart.js}" />
	<script th:src="@{/resources/presentacion/js/cartui.js}" />
	<script th:src="@{/resources/presentacion/js/common.js}" />
	<script th:src="@{/resources/presentacion/js/noip.js}" />
	<script th:src="@{/resources/presentacion/js/placeholders.js}" />
	<script src="//www.googleadservices.com/pagead/conversion.js" />
	<script th:src="@{/resources/presentacion/js/bootbox.min.js}" />

	<script type="text/javascript">
		if (!NREUMQ.f) {
			NREUMQ.f = function() {
				NREUMQ.push([ "load", new Date().getTime() ]);
				var e = document.createElement("script");
				e.type = "text/javascript";
				e.src = (("http:" === document.location.protocol) ? "http:"
						: "https:")
						+ "//" + "js-agent.newrelic.com/nr-100.js";
				document.body.appendChild(e);
				if (NREUMQ.a)
					NREUMQ.a();
			};
			NREUMQ.a = window.onload;
			window.onload = NREUMQ.f;
		};
		NREUMQ
				.push([
						"nrfj",
						"beacon-4.newrelic.com",
						"14f9ce80a8",
						"2572342",
						"ZlRQNhNTChFYV0dcX18eZxAIHQwNVFEcW19YQR0RCEYBERZHW1pCRUJGAxMdFBdbWFpWH1hfVgcZHBQKSQ==",
						0, 84, new Date().getTime(), "", "", "", "", "" ]);
	</script>
</body>
</html>
