<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">

<body>

	<div class="content" layout:fragment="contenido" >
		<form id="formApi" >
			<label for="email">Email address</label> 
			<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" />
			<label for="pass">Password</label> 
			<input type="password" class="form-control" id="pass" name="pass" placeholder="Password" />
			<label> 
				<input type="checkbox" id="check" name="check" /> Check me out
			</label>
			<p/>
			<label for="combo">Combo</label> 
			<select id="combo" name="combo" class="form-control input-md" required="required" autofocus="autofocus" >
				<option value="Option_1" selected="selected">Option 1</option>
				<option value="Option_2">Option 2</option>
			</select>
			<p/>
			<button id="submitCreate"  type="submit" class="btn btn-default">Submit</button>
		</form>
		<button id="openCreate" type="button" class="btn btn-default">Create</button>
		<button id="openEdit" type="button" class="btn btn-default">Edit</button>
		
		<script th:src="@{/resources/app/js/form-plugin.js}" src="../../../resources/app/js/form-plugin.js"></script>
	
		<script type="text/javascript">
			var product = {
				rest : {
					getClasses : '/proeza-sgs/rest/product/getClasses',
					getTypes : '/proeza-sgs/rest/product/getTypes',
					createClass : '/proeza-sgs/rest/product/createClass',
					updateClass : '/proeza-sgs/rest/product/updateClass'
				}
			};
			$(document).ready(function() {
				$('#formApi')
					/* 
					 Si aplica, configuro la visibilidad / habilitacion de los campos del formulario para cada modo 
					 Ej: Para el modo 'modificacion' oculto el campo Codigo.
					 */
					.configField('create', 'pass', 'disabled')
					/*
					 Si aplica, configuro que componente "dispara" la apertura e inicializacion del formulario
					 Ej: Con el boton XXX el formulario se hace visible y se inicializa en modo 'Alta'
					 */
					.defaultMode('create')
					.configTrigger('create', 'openCreate')
					.configTrigger('update', 'openEdit')
					/*
					 Configura la accion cuando se hace el submit del formulario.
					 Ej: En el submit, se invoca el servicio rest XXX 
					 */
					.configSubmit('create', product.rest.createClass)
					.configSubmit('update', product.rest.updateClass)
					.fillCombo('fieldCombo', product.rest.getClasses)
					.chainCombo('fieldCombo', 'fieldCombo2', product.rest.getTypes);
			})
		</script>
	</div>
	
</body>
</html>