<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout.html">

<body>

	<div class="content" layout:fragment="contenido" >
		<form method="POST" enctype="multipart/form-data" th:action="@{upload}">
			<fieldset>
				<input type="file" id="file" name="file"/><br/> 
				<input type="text" id="name" name="name"/><br/>
				<input type="submit" value="Upload"/>
			</fieldset> 
		</form>
	</div>

</body>
</html>