<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="#{user.msg.welcome}">Login a SGS</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../resources/bootstrap/css/bootstrap.css" th:href="@{/resources/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../../resources/metismenu/css/metisMenu.css" th:href="@{/resources/metismenu/css/metisMenu.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../../resources/app/css/proeza-sgs.css" th:href="@{/resources/app/css/proeza-sgs.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../../resources/font-awesome/css/font-awesome.css" th:href="@{/resources/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css"/>

	<link rel="shortcut icon" href="../../resources/app/img/favicon.ico" th:href="@{/resources/app/img/favicon.ico}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
					<div class="panel-heading">
                        <h3 class="panel-title" th:text="#{sec.pleaselogin}">Ingrese con su usuario y contraseña</h3>
                    </div>
	               	<div class="alert alert-danger" th:if="${errorMsg != null}" th:text="${errorMsg}">Error en el ingreso</div>
                    <div class="panel-body">
	                    <form action="#" th:action="@{/login/authenticate}" method="post">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
							<fieldset>
								<div class="form-group" title="Username">
									<input class="form-control" name="username" id="username" type="text" value="" autofocus="autofocus" th:placeholder="#{control.unsername}"/>
								</div>
								<div class="form-group" title="Password">
									<input class="form-control" name="password" id="password" type="password" value="" th:placeholder="#{control.password}" />
								</div>
								<div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" text="Recordarme" th:text="#{control.rememberme}" />
                                    </label>
                                </div>
								<button type="submit" class="btn btn-primary" th:text="#{control.login}">Ingresar</button>
							</fieldset>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../../resources/jquery/jquery.js" th:src="@{/resources/jquery/jquery.js}"/>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../resources/bootstrap/js/bootstrap.js" th:src="@{/resources/bootstrap/js/bootstrap.js}"/>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../resources/metismenu/js/metisMenu.js" th:src="@{/resources/metismenu/js/metisMenu.js}"/>

    <!-- Custom Theme JavaScript -->
    <script src="../../resources/app/js/proeza-sgs.js" th:src="@{/resources/app/js/proeza-sgs.js}"/>

</body>

</html>
